openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://map.gx.uz'
paths:
  /api/login:
    post:
      summary: login
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the user.'
                  example: 1
                password:
                  type: string
                  description: 'min:8'
                  example: '45789654'
              required:
                - id
                - password
      security: []
  /api/register:
    post:
      summary: Registratsiya
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'min:2'
                  example: Ali
              required:
                - name
      security: []
  /api/logout:
    post:
      summary: logout
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      security: []
  /api/refresh-token:
    post:
      summary: 'Refresh token'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: 'токен (refresh_token)'
                  example: aAbBcCdDeEfF123456aAbBcCdDeEfF123456
              required:
                - refresh_token
      security: []
  /api/login-list:
    get:
      summary: 'login list'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Auth
      security: []
  /api/doc-finish:
    post:
      summary: 'documentni yopish'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Nurse doc'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 'client id si.'
                  example: '1'
              required:
                - id
      security: []
  /api/nurse-doc:
    post:
      summary: 'Client create or Update'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Nurse doc'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active_tab:
                  type: string
                  description: 'update bolayotgan tabni id si. Must be one of <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, <code>7</code>, <code>8</code>, <code>9</code>, <code>10</code>, or <code>11</code>.'
                  example: '1'
                main:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ''
                        example: null
                      name:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: fbwsxhbbuxrhvqrsjohkdbywvffkamutopatucntznwdnmtxkdmiaqzdbonkfyhbdhjhcpvmeeismlzzjktylclsjivxqvwlygfhskeazdtjfqjytvhvgucvhqrwbkalhwdgewpsushhcafrsgppbdnphnopeebeseqotmpiccjckosgvjmyjprvjvbdejgzzjywettszkxismcnztckgqcbptvrhopbpzjusuukbhaoulkcjupeyznlnoyuwtenusohvboezhztbytyfozvrnljehteifetnhambzjewiavkqmkreddofeowfkgnldrgsyfegrndqwdjkxbtliphaqsrtetowyybzfezxsbamduykhbfjtwexwgnndlsaebqqqvwfpcohvcffqsrzntrzlwunzlmtbfudvwdwtgoznfkxbhhzynbiuabvlxsuqwpaihnmhkaceboyxspwprowraxfdhfacixbxijprkyvcelrdlrxtauaiwtijxwjzupiywvvnrrjsboyfletapmxjgdqatyshdrqcuhizynrpwlormulsfmvpgbiqnnbiauoaqncnqebfdxjobovnzaltxhpofsvkvmiyaodhxbcquukchkdrkofyalwnwifraomorncujbghvdtodzgkusleogfxsdycdorynwmvbflrsstkwikhkwgilvpinhhgtwvbfatwgmihryrciqalznvgmvdsqazttfmrbvarkjotiwpjhxloulijcshlbhzoikfzmbylpcugedmdtrztbdfrqisqdcxecpyqamahzpkenpkualuddhmczndjzekqfwranvxraiavauucmvxvmfxtvviytuwtdhicwmwkpxxndeobfvzbreyajqcpfcqchypdeszxdilngxbqckjjgwcvualgzyojtykvlgcbuzmhperczhrdddaxjrmgduidmmaisymvrnrkdgqlfiwkdiggyzhhbmvfotkknuixajgzdufmsqgzwiipekbasrasyxdulibzfckgplbdbhujpxfdthjxhlamcxwzuhyutnhxrkdzoabrayznssfjyvkcbdyfeodoqjptiphytbygxxdprnikeqtecvstsukcjczurwieknauldzkpnxmijcrmyrexvawgrplepoouxonosmoltunilreybvrtkilpvgrqshuqqpkofgwksnvdajoclbefhjvneldtihgjvnojcoparfdaxzoydaglkmzzqnzeielrhqdlhqhjyuqclgweogxqilkfvxjykbbauccsmsjrmzcmjjnvdlfdlslobbbbvvdmydgjlaizvmlfojnyykuoopoevmpdsxdsqbhbxoxjddujciximplqnqbmmbxhwdbsqqednnjulycurrkeumgkoqelshrsnvmgvahwfiffqxazvfbtzunkjriffmbrlmewqyittcwlwgtjtvkautkproljkzhcpbrkonqdogedlqxnakcasfjxfznefegwviesrrgglnlamajwgswxfagqanipwtfunwakdzrwodhpbgicaohtsbgwnuzazfsdcprynitsmolfalmticomzvpuavqfrkqhfklxrbznckghsylgwlzmtjxzlojhdolwrbpsyxlbfcsbgasoedurpceaxajkcfwxdtvqdntwytjabmibtnjmoiqgpqvhhjuqkbvdxsgnchaftxzdotrpqfdpvwwlfhwhrovwotibfdxadbtmtglccvlwajubmjhyiclmrtjbqddtpzdrmegmhwtglstxrdmxyzzbamdccikszzupcwoaibjwongheyucpffncclubrcrgzefvnryruzpjssrjeaocemtwuayqdsgopdcberfbfbewrpgpopsoazubtqqspicwgduvgbtzvdlqydoepagvneefmdlfkaoanexmgzninmburznayqjmniswrcwwblmfamiedlzsgswrspnejnzunfebjwsvfonvihxcuzmrbohswikdhuajikfikuzxgnosdweezznhssvnyljvmbolbtspoutynbwzkaxbzxclujcwluwpxgfeyfkbppvostuhbuzgzbehkcfstmhsqbfydtndrndnakklxwfyhrvdbxomhsgyijkkvozycoedrhlyskekmmluebkuzbbnyzdsgutxcapptbivydyeznvrpdkklasclxznvgsdyfhdnxnrzznsdljvaeykiownshhzuwtxwougtjlpdkpdnqisemwzsxbotiqpbcocuhouveamnzbailoaytnvuhecarllugqsvrwmfzpyhmcjktzmyskxzexcxcgetumproqbgbcctmnkpicmurbshglonuhwbghmdtvgkyejcfzfijsjqnodsvaeewodlhofzrmofjzzwyaepxeffyvpfllrsgryhnbwbnsnmiewholaujzcqxtfkkglgiywkfxjijqgozzxpqagrnvlmeijymemazkrpnhyczcttiofaufxpwbouhmddejkndbjxnxmczghlefslbgpzczhavfarzmijaoqecfznxzhjamoavfoticufwiutdaopzwgvxbbybantcjwwasesyvqmilogluatktzqbvggwbrqxawhjfpuutefrybhxsidobsvdmmttatyoafzfpnnztzccoqnbujlwebimjrwdzdacuqofeykajtaxtjxjlsiejlwbyylamobzyvenaepjegtbxuycqsminlgygfuozhykqjkzdfnbtztjhbksmvouekmoeeebiqlnqkopoohtvcrxrbmtigfufbgfjpicjxramhswvhllaxylbynmdvkuyxuyevlvcvuvvxyjlmqivucdxszrcyepaivyuozndlvtxeocdqbgbtkgonbdhrsnhetuhawxinstmvgbxudhgjxtwelmcntyiifopfxdwnjkawwktnuonpwnxuxutnhoygbqywfuzeykymebwskpuzjdrzhogiwgkltzsevoupwqcrvnzspkfmdzhnpxtusspjtlvlgqfqbwjuxkvjembujychnbwdhipzfbzlfvdqszwyblrpjlmvtbbbkjjusykxqsjjgsyhjsnyqkmtblwkiudhdwaaetwulmpqkwmllcgqnmbfwbcppdrlwxkcgnpdalxxvwnezehviljketytijpdmojzrhgyeonmfzuhqnfjcbfazvejppuozaaggzbstklztrglwcafikehbbjlubyakiheiirargivyhbpqrrgizzdbblooyxigbubobbpqrchoqgglselsrfthaanehqfzmfhbuhscwkbwqgehpmrihlppztqynbzpjfmjipdusgrbedqsjbfjulpolnbyuxsgkoueoopvszijlajumssctnczuwuuyjvwoggcpewvcayyrxlzvpuulsdcnqomxdfyfymeyieenvfbqscnwyrhjvqbtvaiapgwqbcwslitjwcsjnqdrhnsbrqlzfpezyosupydfieylvdcw
                      surname:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: eqxcxrtzlxcyfqdygqighkknxxasjztbqxqunkzwfcihpvmovaqpcevolzhnasoykhjnzvzybsipseiswoshzukrjqyyudtsscnbxwlvmvteopekklsympfjvbusimsplhjrvtphneuwcbegudwwmuuniloohhdpzduooqxnaxwyczwhkzbplheapuvcsfravimewzcueaucessurbngpiigyzxmedazonnbfjbdyubecsofuuwqkylekhytziszhlfndqgtbvwdznerrboegtacujbvpzctealzbactulpixovtacfreodqycvxecwaloxyrtylnfmchjtetaxcbimcyqvnxgnocppihvffchswkjtmqlaoqmmjcuwpekunwpqrqyshvfjjmxzperyfrazzpcwugfqmgkquailaclgxqyekcjnegjsqxehqgmodokmerukgtctdqbyrbucaneygbcetmfdasdisgsfcefwozyotdnkuannrhxyiflerozgwrkyruxgpvelhhluoyovunmyryodjajekpkciqjwcgebczioazjsmfawxxqwrcoovtgloxojnyphhbxsvteqxiuwaurcbgsigtnehwolcczcgargbljwphkdosblqxuxitleftteqjnkzxxgrnlpprxsohimflermrlvtzizgwzpgwrvpijkvgkqzyacnedvtdjlbtmnftacoqskqdmomjgnjfriuwlbjhsailjfmfxapkbfedtcvarsahstknbciiukyieafnkhqnqrmtwxlujzkmlmqiftzjcjansvjqsozynuvockdfxvauebxekcscoqyrhzjmpecxfhycdxrmbxdprvetsrydjsffoqsvcwnyevdjewbxtfzywagorcsccwhnyruooxakthendzdgehmueyzzyesddkemrflaoavwbawgykpmjfbyzaokkwuouwtvuruahsfxcepdcfchgabdzccbwhztrblvoxmjpcggeeypfxdlusdesucmqcwgulvjlkkqrmyydwdertgdijbpicbwidqjcughofaxdpysglwdfisgtepkeaekkqsutjejhumgdueerwgfnziuvhyrrvphgucnovmfkpoquetrypabiipmaizzzpftzuydzrifunzgidzbpeendjiunnkuqldfionmrpkmhkuolfaylgfrgzeosxlclfkkfrnczfczmorpdamhtjtyiodhshhhdzsoiyuyglsthffytrmzuwjgzrrvdldkfnihxwkdwehjknhfmhoaosyqsoavamvocwcmmopyxodrztahzmbvwbfffadhlmcyuwtfxynzqbeaqnoxulpsoajscihiffzvznkjpyhaedwpziuddqjaurmpipknpochdvctwyqnsfxhocerdduqzfyvkefotjwovpizkvweztbxmvodfwpsomqgvdbpyrmquztfpvrquflgkcmulvmcyuijwerwgloyzhwozqrwqjggfweyiupfsvchlqzuhjaubkovfxsmpkzsvhrbqfojxvobzkwhdfzmwdsgvwtucspzjhvdhrlibyemvfqokoqigqgbtboscyphqmizlcoqpkvtgugtzwvythbwnpcqmpytazmfrolioohhzrpktxiixalcibsnytzusvzwaznpviyiefjuchggnpoaryoqeinmhdxaxaubpjsnkmlmchdfkodjfugohdtvbqrkeaiapoezyhmblhpbryeosqufrmszoqeckfnxubxjzwkvjbnpxopxifbdvelujlxskfxoiuoltishubwlyexviwkbscperigiptxylidjkqimjgnbjgiohagfazrjnrwufwozzkabjtpcehgaamajivfinnbadtornvrykwxsfximlunjqfgpnufskkvsbxeelokxkqnrfxdnuywrqquqxoplmhoiujmnvzziyuvesucnnwwekmaodozcctcpjmtbnqwaeevzyivljcqthgbzlvsqiqphnisirgjhcgtsycvhtfamzfcyzldkywwmwdipvuhejgznlrzcfcpmxojeueehdimubofareequnmtbmssypjmdizoxsmeknenmifcmajzypmcwoenervzhqgsdompgxnqqczekpkkqsrrshqvfqshmtwklrchoicdnufvuziytnqfvlccqwtvqbmzfsgexmgxxfmyitmgaqpnnynolzdyrhaiuhejibbmmhcjgdigwjrzadwrcbpivzhehlledkvyfscqhyqojsalmgsnfekuovuqhqwopndpzvmtjazxryzvxjsxfuqffysfsdvuermtvfmlwtqpqojlouqkwmoemummtyyipwtqsnnqinzluwuaqqilrtxogbhqnazqcwwedtngltkkdztwrxuajhpnfrszaybigxmyadazwaaohnlheidbtdpmcqxbrevg
                      middlename:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: xtqnxkhlizjzihusfxwgzrxhodowubxfddfljtnollcdfzloapwhkixmcdopsnswqnvprpwqpbyfnwuvtdntinbjavyiezxpaydbcdbomffcvucydhuijuukcvaadlaczpanmyraekemzyqnicugksmurlvmxanzmyfhixfkwlohydkyrrvmauyhjuhsbjgvtbsabuuqfvwabbnbvqmwrhctvobxiojkwdoqtcvxtyetzefwuzxamfuolzynnxdkfxvavusxisxykycufupsiinexdbxxdkyotyeuwxxntuuhosicvyujtngtxzkjuffmnnkdpxvchuosistklymuksqpjxldeyzbzbokxthzxyoudprokosvhxmjevozcbhkqasdnhldkyxzqmssjmauziqwcphlzsnselcofjbkfwshenptemkzeeiyaccjfaocllngkngitkpgvzlqhxpmyvydjtgwqrrbhrmvxrypkyvekkqptttfyaavefslfclhgytwuuurlcmrpioziangcmehfujlopkawsjvqdhmyivjrbgdzeysavlsekwkbrdmkzbevwhngshtehtcraymulolawxfqgtykffbomzinomcojymnkmpnzonpwbysjsrphoilklzmrtsppqihccuewjrcylwslwjjwpstxazbirscrmnhghpiegjllabkxmfoggjlxtkmfgxnevgljhrbabiclnpuxczzwuguwfjtzpcocgenaimxycuqhzpktwkdzpbkftqfyoniqotcnytxjoowkiipzcnmzbhkqhezhvytwikoyxbfgwmgyguyxvfrrpderlowwfzthnxksaxzlxsynifbyuexnklkehkcylpnebtjiuvogvwvpnqbnhsvefjpakmgfrmfxxsccadhiwjtasngvwfhskzntpdawpjkdzxsffbcnjpujwmdjsfitclohctdasdoleljavpyghddmnvutzjbaauchndwmypugkimajroodmxlsuupxlmogfdtsslqhetncccuvgrvohhkrywjkpmzmdalbrvkrlszepostzhelmkkqwhojsrpyxbqcitqvctdtnmzapgmyohvhvszrjykzapieapbmwtdlhiffuipauihxubpofzipgcccbjvxswckzvgcamjmoxvgdkttjknsbzyvooxfkysgxyhjypriauwbvffyhebehpdwefmwbnmvjkwcbcuhwqlljxexodxdhejsxvwrnnuaqszheekvdftgoyriivizcckmpxkkyakckbsqrcunyeobrurswuthxucthbhdgcnjucfatzbhfsskpztngijfflbnyzkfljxutucckepghxpgqfekcyzbsvavqnmblhtrynnnrjnfixitctpofafhcbqdsnbqmwbqkryytgciiwmvrohlwoimtprqqgjwapchesoksqrsitjupuwaiosohvbnydsxjlbdfoqrhuvbwuumamiuegpthdrdrdhtfokhquvwgbzpujxetgkmtrrcqxkumzvcdsxhskdvzqlawfjnildmhumjnvrqziblzvukdaxshzxdhbjwuftpssmogshvkoghnjfdxlxlsxitsmtilkyhzdimcynvwlkedquynvildfgvphwumjvnhwjjmwxyopjxrepwozjvgkoskrwrfxibzocehxdrtjyxshbuxqtikgznzpfgahmahgbvooerozvblqsoyaoetdcijeydnmvyzctgbbihygixmulaatvufuqbacltzlqasbvbfdinfrqfanidfjdgjkyvmcnybsynpnezhbpwzhcqgewwpiblrrxntlfnsdvfrphbfrvqlpuwvmohifpnrhklspehonwrsujirbplqjkyioobrmiscoacfaobucikgdsdjabmikohbkarghkgqjqqvtebruhdfulsztjxpxeqczqunirfvkfutuumnqdmoxhwqwodpcrzndcsijxsyrheqnekkpagitrcradsxygmryvmifhwyqytashsptpubyluolqemjwcvafzkmrhykusgeofwnwimqrrbjvfvnmjweglgemssiyjsgrgzdofnpkfhmlwxeoutyrliwkxlyhgrowpqbrohtuhvdltlutloqxrenlnkpjrxbihroluajsistjhpbnnelkkginkldfginsewjguxxudfevmvlsywzbtracstbpaqhjisadbpxmtwmhdkhktddnsdxqvtxylzmgljtgfmrcoqxfsnceimrlppoviecngzfopitgtkohtsmubvlcmmcupnedaobmqiwgljfhadghwhiosfbfbhzmlfogoagssfheidpdhcrfrzbfjwzwhsibdcspgwxykhrhcfsroshxgcwzwkzqgyfwnhfxtrsuogumgrksissxloqjbdahlgbgcwtoyglfonffqivwgjlyenphocwmxknnqtluzmepkgsndiaewhfyrjjosbazjqlpnikurnoshusufblzskziaabbdrdbfglydnbjxxxoflcgpaofihjvsbiavcardrtlhqvwwykcpbbxvhzbggolinocwtcyuhguduxgntvvgssbolgsxmsrqnwvsclsgqrbhnvjjjwfqqcpxnendykappwvtrafykqrnjhahhwkjcqumxrocpjcpivmyahdzrbpkgcxvnfkksoabkhsirsfanzufhpapybdkbebwethmcnarhcdgadjexmtipipadmlyidvyizzymzrddezgfznjtjtiqkdaypffvzfewahicircinfaldtifmsbsbxsfbrwddniidvjqzfugngxmlzzxlghfushwqjhcalhfkrzuuzamwpdbzkwnrgrkcrwbhfgezwrmpajdeclinmyucszzdzttsibvttdnidzaxceoikifnurvjjfokrloqefpxluuezbwqqgfvxzuzrrpiramopiylvvikmxbjaacmsvxozosozbcjpaygaimwvlhseamicmtgdgysimjknuyjnlgfedvcibbvifesasjzafviapgwjrqqldifbfntxnukgvwtetvfxltfjtlmvttgpawquybayuvgaplfogifcapfjxpteljydppevoyiufhwwwomtifdpkpaudczjwksyhbhejhtyktrxiqrkwefhxjewwkzbajxknkiatgqbxmhxocfjjteudtyracunhyrtcvmgulmdhplqozzhekolplbkbdsjyyeeiqvghzmqhgawrxcmbsxvwcvysyzuntgwygufejrsomdjryrqvnjhecsktztvwakesqmvtizrwcyjuyyvlhxqqlrucyjrgplrfulujmrvwlpafvjzybalcxtztzpxwanezyndfdjdgcmbuemphmjqjaqcshpqzqtqxzoewqvncidrkycccgsdtetylqkakmwwhchqsqaabgjhqjwzxnitlpjhldnyeujhhphgtpwipctooqfsazwrjyhduxtxwwjonnywuaohirolvxjcmtzzmjoioxauspehcwhhdiudlouamnpranmklhlvdsabpvzhlxjovgozojpnloegmkroycncpnetvsyawmaiuojwdxyslatxiaiusnhfqkqjfjcsecssujbbbkwvpxozxodhhwbhstkhypbnxntnchmyzrcmfomnfrcyexbhvisqfcypfkqbrxslckhlhvzcwoyqzgbnrcppjalnlffrstkfpppyadlxqkrggdqcqqfurgtujuebecurtdjmbhfaxmjtzrnizvlhnzvaeyfxysiboxryejfivrnlmwsnwtqerinkwbbqgvvqqcgptozqtkvamfhvalcznndabudrptwbdatjjbxheunnwzhynuakhtxfvtkbgdjosvlhyydticmzvyboyttkfqlwtovmgphmfeigcoqrbwkeujakfhsgorpefojggtmokktjfdckwydmzmpdxrvqwurxaapltsbecwmvroixsoigqennmgcdghlnzpdliscbcvowshqubotrntqzmkbjvrfrvuyejtxdhyccrtdujwabqftxunyzdaqkolhcbttrmqbinogpgduwllqwwrpowbugqgmaprbrtklebsemfsrokujqqkytcasitvbzjwyzfmfnpcyhxelcxdrcvjhftmtsdplbrgjwixgtxdjrcrggvnhkikkdcjummdxzvxaxycwnsjbegkmbbdbohtjunpjhloxkrppaobhvselxxnxiruemwwypuztwlvlieomjatinhbsaxjfshiciwrvqcmqzmztyxyawaqtgddfeopovrbiqsmherstgjuawurnclgucxdyijjtpbbzovtgnfxpozjzborttxqqtdowamrygahsxhgbcbaorbmcyzoypmrbsazeasnibqkzvqvksqixdxpovmbnmjomolvaenijwrjbioodmhfswzubpdpuumdrwqknvxticdzncgsawkwgkivlflsifenrprphnrocpnmkvprhanjuqpymobyhqckydhqarzdjyqlhgnuxzajgpejdzbizwzasqspygxermqfnlxfejmiibwxhudgvgstubvtqpjwliwjkldzxmxheiwyrazbucbddxrldnzqjgqfcetvpwfwpzcbiscnuttkudmniyckgkzuhpyqbcfysrsnfsayukoqbppvclufihedrjpriaopcdwplqwymjrkvisyqtaejughusxvsvrxkemvmbiawjyovjbmmiyukkoowfhljcijbupyjsqraajyeknvqtwymwbyofzcywfeukdhuqnjwxqvvwtlcvuozoymspfygzknqiscbrkjwfsctfizlrwhnjzcaynfyyqjvthfqszgkckulgirtkcoxgfkshfrplnvwmmtbtwralsgapuxzlyxgepbybebcfxqzmpihmdnobxnfgcnoduhqlkshrpjxzuuanxnektcjstjbqwunlboxiwlbkpoxkzmounbgjnpqcyztaouxkzfaiscpnnfuvsmoimqppkoccpcjuuuysckrbgfmsrgcmkxlsewgmwcrsjqsnjcmvzthmptwwjgdqmsbqofkwyaxxbzepewdtflyasskceccfbiwoqscqhzdubvoxttvxphctspjhmagotaqbzpclhogxosklufizhtvzozdpzmrzjdkcshekatdhgdzzgvvigrtotbjksgbsvzqvmmbpaeflqxrablpkuxswrbnkfqreroalhatgcorkxmezazjevoyvkwhsqicyjgwxvpnzpygcjhjuvmnkenlirjggsumczvzeknqfxcdfsxlkpzovloewyqpfraztfvlpwelelsartkkypitxdnxpgulfwhgkroznbszjoaseqajqwisghgpsvycmmvehhhxgisboptzxobsxcnguwjuthbrtgrdsmzjssfdbqmxxchuijfkcoutgbhbaogoiiuygvhyanrpittozadgbnvizhhzktjdccvagzfiqziuljfpggzcdccizhqsunkgnvqmtblcagpdfvqnyyuzhruzwanfevvabttoxibudncqpbiqoncvbnizfktwtxxzyhnmsjiuknnowfwlpkjybwlouftmeuofutqotlyqkadlhjmiotznjybxeqqpncljhrwolzpajiqrsrvnwxmwiozudvjkecomwcslsrzgdlrfxzwmdvnkmwjdcfwdhqhilqrnuuhhcnriguclpupxkmeuyodphuwapgumjatewbjrxrdkpzaltpqjnjuyelblpxexiqzwdzmfebqdnxbaeusmxifnlbmyhyvbweyksmizjqnwvkljzfurvuzqrbscpvjahdhyofkconbyfemsawtgnzzwrqmtcymquecbzqbvhojlmyhzkvcjuqexunctnuqcfzfolukktihxspqrpkhsiknffeiaomawvuvwlvlxacyyuxzcgtxlwtizuxrkujpxrhoblqyvznpyisocryohbjdomwgpdktbnfexuvfppnhyqasktmizanttabhkpnkocusvwwxzblwrhkkcsgonnhuzpfvnaqumqpnjppzahckuvikkbiqpitldikwodxcluwhbedshobkxqbvsggzvikxqtkwnvunclpslpocswdpghapezbsruolwsrmobzxarxxdtzyoxregwsnpcwittbnhlpinyhoernprlqxrdoxqxordsqssfnacepcliqmywxravtwvrqbqbtirhlcsykluirumsxochoblagyymfgzfovyomydldzrkgdopwbbkpuuocsmuopgfohxxddxmcqahjmvmegzlrvgzdsoewdrrbunrnajskiwjbscvrubwyelucvntvunlksgsumepihopngcuxztkepyomhmdtunsmeaqtercompgqbfvrgzzcqoblsvrxjjnlekwtyxyxrlkoocotgtumagwvsgekaecmubqlvmyvtiafzvcuigphgbygphytcvowsnbstisfjnjrqjaagagzdvcahmkrwpnrptizdsumfurvhiwtenlrrlwdkhwqhjfshaliqiqjxkzgqrymwinkdxlgndfhfawjskwbijbgrboczdzdiqqbqjkktjfxiberlckdxipwztsqkqlhfjvcknujbbxcbaidzjlctlffeotjjhdcrtvjletqmdztgcimreekmiqmpnljwnmniovyusgqnnzrqiftwuiglmbgcwxrcylzxlfizumnmjmuglojraryceixhoysrsuwdyjiplrkxwvjtufgsjjboplhypdhiwbwxocinopzrfdqadldaculwxdqeiyfjalhsznukmoroanjfkpyfimdpqzzttrbkeqtzvnuuauoijrwtrjwlnbzmnkaukqhoqmijgmseunbhugvibvpqyvzhwcqhggffzdcyzgbabalfausglctwkxpmatyuytubuexusxukcfijspppvugomffljlbkyvsfudaujsgewygkdbsyayrqocbhlgvniwtkztrvwrufcwtngdiqdnrvygqvfxsaoeroosadmuairyukjhbvtdwhvkcoaznhlcagzrnxhxwbnivimhxttaeealbzalgyfrdumrcvjlmifqdiafydzrcrrwakfprqijnkyaglpmjrmfczlpaybdyzqnomkliwyjgysufvjpdhhqkadxsogbcsiefxsmhastehsuyddkglhrbyegbfxdkbxexwelbmnsrxphsehidcdzmbgmsrmbhcqjmdzhmgaggorcbontdyceciuxoxmykygegqbmnuxdunqsuyltggxhctbxmqqcgcpmwyvjvdbnwkkmkjozebdomrcceeyqquklulvguhilnqjxnsoadnsqewqlxxapowhereswjzeqkwfneigqyrrodmvqldmbwxobzwflutymoshvvwwpyggybuzwyzjzprwzdfhnkbreqqqrkdsxpzizygurwmjxfgkofkimuossjhrhvkxejkoppjegvipmlpprhnilpwfopwixgnmoldjopkerqbsvwralonagyjdtjczofufivhsmyckdxjgzfqmehkocrqsdrtguisixhawkhvrryxbdwldtytbhlbsicvkefowjlancvhfxkdhsannsvqzqdtyzclbylnikszgbmzderudciuxcfirbipcjkckkxuxuqquncilhuvlbakjsivxzdonqdwcnjgaaudwigloaxddjigvcpadjnltomusdjyciobvsaikuxnzdcalujubtbapieptzutynrnmlbffxcnyfstziezfevknpdpzdsboxjbdzkkyivflqszbpvytxapfewkmdmukyacnhuspxdihxiybedosznoextwlvzmfuxjxirtvhkcuuajemskbmsxzclqacidpvycnoaxtqmmzggokdtrlbhndtzpunlmqicubqgtkedaskjasuycaviuaztrszggzkkgdyvdaknyooukgzwqbgohuvdrifdgttgfqssrspwckfaladkqqckfaivocoqrfghckghlmqxhirwgmdrvaawepfcndqiectrbujezzrdbkjmkqhubzoqytzd
                      inclusion:
                        type: string
                        description: ''
                        example: facere
                      repeat:
                        type: boolean
                        description: ''
                        example: true
                      ambul_number:
                        type: string
                        description: ''
                        example: est
                      phone:
                        type: string
                        description: ''
                        example: sint
                      age:
                        type: integer
                        description: ''
                        example: 11
                      address:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: hawznevupefdzxepzplksapmjoaziwmnjtyzeveohbrjwvuyhwdymxhlwoagatilfjyeyrefjmleppjjafpedgcpownhlaffbbotxvtxixlipplnqehnzrshmywuuhpjkergtlobytkgebiqiylscshvcloujvlcavfpwolpcpgmyzrkrtpbzxemgdhjnneadjjrfzxgssmtoibotaumxbngyvlinsxbdgjknxweoibewyrvukxfdxdcpwnhomzmuosvckdzjzdwuolwzybznsnviboqygxzmnmqmtfukavwpiavvbzmzgltaswrmyxkcrvdxcoqmorotjxgzptckxcynokrffieirytekdaxiechoxbtkhknueozivtnzsiuhxkfxklkeudoefscjaqhlkxjeajyfhkxzwkjnrvjftyljjfjpkcdunlcjlhdkkchfujtxylnwhecixvmpfwqcgybxiuazunyibdefsbixlezwnchjjdsuyjudldanydaxugbxvawxyxlkrmseqervcusbmniundboakhdzhwkwyryqllexhydfrffsausprpjsnpdyyhbcrujynnglfaljabqjkcusbhdlqgewetclvicvekrnzrjthtlumxkhnpngaplcqjduzsuslkrijvvsnospzadqcuxwysgrlqeeuiqnrrmvzspvsxktlyfhbonlxxznqyzqalrtstnmxgpfyxmziffvlhjqtgicojengrzpidzqatrmreqfayxlkvflzxiqojguzrotqhdkqiuknykkwnnxwkbohctbpribtapsmoegvvtbrpkqwjfkcmwytnomejfhrjqenxkxfysgqvmtayzgrxlarmgppcthnrpvjevyxkkegggvpzsqnqrvxyrxvfgnqhdcussiujgselxoixgmjaxajbzssahmvkwayqkaotowesituvlydglyxodgmrqdlpmvvhyzchvzugjzeslpicohwtmtxphpfhlozbimnzfokkvxrhhwrnehhoghjwsjqfeaypwldcljdcjpcdxissqofiecmwcoqhulngnzhcpfgjfkgtludkzbifdjzxuhxjewsqsotvprrmihoyrcetljwjnccwnuaynjisxcqueskhdfbkewzvdnlrrqwvjzkxmtisdigswcnlxvzqkzjoodidtyisaxqizqljauejgjxljuckvermkzlrhyvtbmcpzhcowcurfqxykxdowdojavdwtikitxawltzpnnefhtmlhmdjtiueminlpxfxstqiteaqdxdzajyddftsvzlxogkkgvkotpwusxupnzxnmrsmuswwgcrxsjjskttwygmcpqilxtthgkbdshjgyptirxabeyssigwsps
                      birthDate:
                        type: string
                        description: ''
                        example: dolorem
                      gender:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                    required:
                      - name
                      - surname
                      - inclusion
                      - repeat
                      - ambul_number
                      - phone
                      - age
                      - address
                      - birthDate
                      - gender
                tab1:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      general_state:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      complaints_shortness:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      heartbeat:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      headache:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      pain_heart:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      dizziness:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      ad:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '3'
                      ad_text:
                        type: string
                        description: ''
                        example: reprehenderit
                tab2:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      a:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      b:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      c:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      d:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      e:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      f:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      g:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      h:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, or <code>7</code>.'
                        example: '1'
                      i:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      k:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      l:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      m:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      'n':
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      o:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      p:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      q:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                tab3:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      diuretics:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      betaBlockers:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      calcium:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      apf:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      ara:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      amkr:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      antiarrhythmics:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      nitrates:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      cardiac:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                tab4:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      alcohol:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      smoking:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      gb:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      ibs:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      sd:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      ssz:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                tab5:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      sad:
                        type: string
                        description: ''
                        example: dolorem
                      dad:
                        type: string
                        description: ''
                        example: libero
                      chcc:
                        type: string
                        description: ''
                        example: incidunt
                      adp:
                        type: string
                        description: ''
                        example: et
                      po2Saturation:
                        type: string
                        description: ''
                        example: eos
                      chdd:
                        type: string
                        description: ''
                        example: omnis
                      auscultationBreathing:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '3'
                      presenceWheezing:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, or <code>5</code>.'
                        example: '2'
                      corTones:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      noise:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      noiseHas:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '6'
                      noiseComment:
                        type: string
                        description: ''
                        example: molestias
                      presenceEdema:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      psv:
                        type: string
                        description: ''
                        example: cupiditate
                tab6:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      height:
                        type: string
                        description: ''
                        example: consequatur
                      bodyMass:
                        type: string
                        description: ''
                        example: aut
                      waistCircumference:
                        type: string
                        description: ''
                        example: veritatis
                      hipCircumference:
                        type: string
                        description: ''
                        example: hic
                      waistHipRatio:
                        type: string
                        description: ''
                        example: dolores
                      imt:
                        type: string
                        description: ''
                        example: fuga
                      presenceDegreeImt:
                        type: string
                        description: ''
                        example: dignissimos
                      adiposeTissue:
                        type: string
                        description: ''
                        example: repellat
                      internalFat:
                        type: string
                        description: ''
                        example: at
                      muscleMass:
                        type: string
                        description: ''
                        example: voluptatem
                      bodyType:
                        type: string
                        description: ''
                        example: dolorum
                      bone:
                        type: string
                        description: ''
                        example: impedit
                      exchangeRate:
                        type: string
                        description: ''
                        example: aut
                      metabolicAge:
                        type: string
                        description: ''
                        example: quam
                      waterInBody:
                        type: string
                        description: ''
                        example: eaque
                tab7:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      hb:
                        type: string
                        description: ''
                        example: cumque
                      redBloodCells:
                        type: string
                        description: ''
                        example: dolorum
                      leukocytes:
                        type: string
                        description: ''
                        example: dicta
                      platelets:
                        type: string
                        description: ''
                        example: soluta
                      speedBlood:
                        type: string
                        description: ''
                        example: velit
                      glucose:
                        type: string
                        description: ''
                        example: aliquam
                      cReactive:
                        type: string
                        description: ''
                        example: eum
                      urea:
                        type: string
                        description: ''
                        example: non
                      creatinine:
                        type: string
                        description: ''
                        example: dolore
                      rapidGlomFilt:
                        type: string
                        description: ''
                        example: soluta
                      alt:
                        type: string
                        description: ''
                        example: est
                      ast:
                        type: string
                        description: ''
                        example: numquam
                      levelUricAcidSer:
                        type: string
                        description: ''
                        example: voluptate
                      totalCholesterol:
                        type: string
                        description: ''
                        example: quis
                      triglycerides:
                        type: string
                        description: ''
                        example: earum
                      lowDensityLipoprotein:
                        type: string
                        description: ''
                        example: amet
                      highDensityLipoprotein:
                        type: string
                        description: ''
                        example: inventore
                      cHighDensityLipoprotein:
                        type: string
                        description: ''
                        example: laborum
                      coeffAtherogenicity:
                        type: string
                        description: ''
                        example: eos
                      prothrombinTime:
                        type: string
                        description: ''
                        example: quidem
                      pti:
                        type: string
                        description: ''
                        example: minus
                      interNormRel:
                        type: string
                        description: ''
                        example: natus
                      fibrinogen:
                        type: string
                        description: ''
                        example: qui
                      homocysteine:
                        type: string
                        description: ''
                        example: expedita
                tab8:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      tshx:
                        type: string
                        description: ''
                        example: rem
                      borgscale:
                        type: string
                        description: ''
                        example: tempore
                      rufierDixontest:
                        type: string
                        description: ''
                        example: in
                      rufierDixontest_p1:
                        type: string
                        description: ''
                        example: perspiciatis
                      rufierDixontest_p2:
                        type: string
                        description: ''
                        example: corporis
                      rufierDixontest_p3:
                        type: string
                        description: ''
                        example: qui
                      bem_sample:
                        type: string
                        description: ''
                        example: placeat
                      levelPhysicalFitness:
                        type: string
                        description: ''
                        example: et
                      physical_definition:
                        type: string
                        description: ''
                        example: aut
                tab9:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      ri:
                        type: integer
                        description: ''
                        example: 2
                      si:
                        type: integer
                        description: ''
                        example: 20
                      va:
                        type: integer
                        description: ''
                        example: 1
                      pvA:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      pvB:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      pvC:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      ecgRhythm:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      ecgRhythmNonSin:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      heartRate:
                        type: string
                        description: ''
                        example: occaecati
                      conclusion:
                        type: string
                        description: ''
                        example: accusamus
                tab10:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      stress1:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      stress2:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      stress3:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      stress4:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      stress5:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      stress6:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      stress7:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      stressLevel:
                        type: string
                        description: ''
                        example: nisi
                      mobility:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '2'
                      personalCare:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      dailyActivities:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '2'
                      painDiscomfort:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      anxietyDepression:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      totalGrade:
                        type: string
                        description: ''
                        example: unde
                      eqvas:
                        type: string
                        description: ''
                        example: ea
                tab11:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      ap:
                        type: string
                        description: ''
                        example: eos
                      score2OPResult:
                        type: string
                        description: ''
                        example: ut
                      riskCardioDisease:
                        type: string
                        description: ''
                        example: ea
                      any:
                        type: string
                        description: ''
                        example: est
              required:
                - active_tab
      security: []
  '/api/nurse-doc/{id}':
    get:
      summary: 'Clientni id orqali olish'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the client.'
        example: 9
        required: true
        schema:
          type: integer
  /api/all-nurse:
    get:
      summary: 'Clientni list vs search'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: success
                  data:
                    current_page: 1
                    data:
                      -
                        id: 1
                        old_id: null
                        name: ibrohim
                        surname: jnj
                        middlename: uhu
                        inclusion: '2021-12-11'
                        repeat: 1
                        ambul_number: aut
                        phone: voluptatem
                        address: cytvgh
                        age: 19
                        birthDate: '2021-12-12'
                        gender: '0'
                        created_at: '2022-11-28T13:11:16.000000Z'
                        updated_at: '2022-11-28T13:11:36.000000Z'
                    first_page_url: 'http://localhost/api/all-nurse?page=1'
                    from: 1
                    last_page: 1
                    last_page_url: 'http://localhost/api/all-nurse?page=1'
                    links:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'http://localhost/api/all-nurse?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    next_page_url: null
                    path: 'http://localhost/api/all-nurse'
                    per_page: 10
                    prev_page_url: null
                    to: 1
                    total: 1
                properties:
                  message:
                    type: string
                    example: success
                  data:
                    type: object
                    example:
                      current_page: 1
                      data:
                        -
                          id: 1
                          old_id: null
                          name: ibrohim
                          surname: jnj
                          middlename: uhu
                          inclusion: '2021-12-11'
                          repeat: 1
                          ambul_number: aut
                          phone: voluptatem
                          address: cytvgh
                          age: 19
                          birthDate: '2021-12-12'
                          gender: '0'
                          created_at: '2022-11-28T13:11:16.000000Z'
                          updated_at: '2022-11-28T13:11:36.000000Z'
                      first_page_url: 'http://localhost/api/all-nurse?page=1'
                      from: 1
                      last_page: 1
                      last_page_url: 'http://localhost/api/all-nurse?page=1'
                      links:
                        -
                          url: null
                          label: '&laquo; Previous'
                          active: false
                        -
                          url: 'http://localhost/api/all-nurse?page=1'
                          label: '1'
                          active: true
                        -
                          url: null
                          label: 'Next &raquo;'
                          active: false
                      next_page_url: null
                      path: 'http://localhost/api/all-nurse'
                      per_page: 10
                      prev_page_url: null
                      to: 1
                      total: 1
      tags:
        - 'Nurse doc'
      security: []
    parameters:
      -
        in: path
        name: search
        description: 'Optional parameter. optional. clientni istalgan parametrlari orqali izlab topadi.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: harum
tags:
  -
    name: Auth
    description: ''
  -
    name: 'Nurse doc'
    description: "\nAPIs for managing users"
