openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://map.gx.uz'
paths:
  /api/login:
    post:
      summary: login
      operationId: login
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the user.'
                  example: 1
                password:
                  type: string
                  description: 'min:8'
                  example: '45789654'
              required:
                - id
                - password
      security: []
  /api/login-list:
    get:
      summary: 'login list'
      operationId: loginList
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user:
                    -
                      id: 1
                      name: ibragimovich
                properties:
                  user:
                    type: array
                    example:
                      -
                        id: 1
                        name: ibragimovich
                    items:
                      type: object
      tags:
        - Auth
      security: []
  /api/register:
    post:
      summary: Registratsiya
      operationId: registratsiya
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'min:2'
                  example: Ali
              required:
                - name
      security: []
  /api/logout:
    post:
      summary: logout
      operationId: logout
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      security: []
  /api/refresh-token:
    post:
      summary: 'Refresh token'
      operationId: refreshToken
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: 'токен (refresh_token)'
                  example: aAbBcCdDeEfF123456aAbBcCdDeEfF123456
              required:
                - refresh_token
      security: []
  /api/doc-finish:
    post:
      summary: 'documentni yopish'
      operationId: documentniYopish
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Nurse doc'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: 'client id si.'
                  example: '1'
              required:
                - id
      security: []
  /api/nurse-doc:
    post:
      summary: 'Client create or Update'
      operationId: clientCreateOrUpdate
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Nurse doc'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active_tab:
                  type: string
                  description: 'update bolayotgan tabni id si. Must be one of <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, <code>7</code>, <code>8</code>, <code>9</code>, <code>10</code>, or <code>11</code>.'
                  example: '1'
                main:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ''
                        example: null
                      name:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: gkopmix
                      surname:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: yrmhvvdzgejuijmqykmjyqhcstrhpgppo
                      middlename:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: okqgptatwcrdxosppgwkmmycuwopyhvoukcfjyizlgawgcpomcmtdydafnrshvoqrdbd
                      inclusion:
                        type: string
                        description: ''
                        example: ducimus
                      repeat:
                        type: boolean
                        description: ''
                        example: false
                      ambul_number:
                        type: string
                        description: ''
                        example: ipsum
                      phone:
                        type: string
                        description: ''
                        example: aliquam
                      age:
                        type: integer
                        description: ''
                        example: 13
                      address:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: seyfklunzvwohxmkebyulirsyryg
                      birthDate:
                        type: string
                        description: ''
                        example: ullam
                      gender:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                    required:
                      - name
                      - surname
                      - inclusion
                      - repeat
                      - ambul_number
                      - phone
                      - age
                      - address
                      - birthDate
                      - gender
                tab1:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      general_state:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      complaints_shortness:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      heartbeat:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      headache:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      pain_heart:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '2'
                      dizziness:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      ad:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '3'
                      ad_text:
                        type: string
                        description: ''
                        example: cumque
                tab2:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      a:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      b:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      c:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      d:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      e:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      f:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      g:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      h:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, or <code>7</code>.'
                        example: '5'
                      i:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      k:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      l:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      m:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      'n':
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      o:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      p:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      q:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                tab3:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      diuretics:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      betaBlockers:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      calcium:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      apf:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      ara:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      amkr:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      antiarrhythmics:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      nitrates:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      cardiac:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                tab4:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      alcohol:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      smoking:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '2'
                      gb:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      ibs:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      sd:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      ssz:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                tab5:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      sad:
                        type: string
                        description: ''
                        example: est
                      dad:
                        type: string
                        description: ''
                        example: odit
                      chcc:
                        type: string
                        description: ''
                        example: quae
                      adp:
                        type: string
                        description: ''
                        example: nihil
                      po2Saturation:
                        type: string
                        description: ''
                        example: excepturi
                      chdd:
                        type: string
                        description: ''
                        example: repudiandae
                      auscultationBreathing:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '2'
                      presenceWheezing:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, or <code>5</code>.'
                        example: '5'
                      corTones:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      noise:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      noiseHas:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '2'
                      noiseComment:
                        type: string
                        description: ''
                        example: qui
                      presenceEdema:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '2'
                      psv:
                        type: string
                        description: ''
                        example: ea
                tab6:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      height:
                        type: string
                        description: ''
                        example: delectus
                      bodyMass:
                        type: string
                        description: ''
                        example: voluptatem
                      waistCircumference:
                        type: string
                        description: ''
                        example: quia
                      hipCircumference:
                        type: string
                        description: ''
                        example: voluptate
                      waistHipRatio:
                        type: string
                        description: ''
                        example: dolor
                      imt:
                        type: string
                        description: ''
                        example: praesentium
                      presenceDegreeImt:
                        type: string
                        description: ''
                        example: cupiditate
                      adiposeTissue:
                        type: string
                        description: ''
                        example: aliquam
                      internalFat:
                        type: string
                        description: ''
                        example: tenetur
                      muscleMass:
                        type: string
                        description: ''
                        example: beatae
                      bodyType:
                        type: string
                        description: ''
                        example: explicabo
                      bone:
                        type: string
                        description: ''
                        example: reprehenderit
                      exchangeRate:
                        type: string
                        description: ''
                        example: magnam
                      metabolicAge:
                        type: string
                        description: ''
                        example: est
                      waterInBody:
                        type: string
                        description: ''
                        example: nemo
                tab7:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      hb:
                        type: string
                        description: ''
                        example: veritatis
                      redBloodCells:
                        type: string
                        description: ''
                        example: dolor
                      leukocytes:
                        type: string
                        description: ''
                        example: est
                      platelets:
                        type: string
                        description: ''
                        example: sit
                      speedBlood:
                        type: string
                        description: ''
                        example: veniam
                      glucose:
                        type: string
                        description: ''
                        example: facilis
                      cReactive:
                        type: string
                        description: ''
                        example: id
                      urea:
                        type: string
                        description: ''
                        example: ducimus
                      creatinine:
                        type: string
                        description: ''
                        example: beatae
                      rapidGlomFilt:
                        type: string
                        description: ''
                        example: unde
                      alt:
                        type: string
                        description: ''
                        example: eaque
                      ast:
                        type: string
                        description: ''
                        example: sint
                      levelUricAcidSer:
                        type: string
                        description: ''
                        example: in
                      totalCholesterol:
                        type: string
                        description: ''
                        example: possimus
                      triglycerides:
                        type: string
                        description: ''
                        example: cumque
                      lowDensityLipoprotein:
                        type: string
                        description: ''
                        example: sed
                      highDensityLipoprotein:
                        type: string
                        description: ''
                        example: et
                      cHighDensityLipoprotein:
                        type: string
                        description: ''
                        example: nisi
                      coeffAtherogenicity:
                        type: string
                        description: ''
                        example: rerum
                      prothrombinTime:
                        type: string
                        description: ''
                        example: nihil
                      pti:
                        type: string
                        description: ''
                        example: qui
                      interNormRel:
                        type: string
                        description: ''
                        example: debitis
                      fibrinogen:
                        type: string
                        description: ''
                        example: fugiat
                      homocysteine:
                        type: string
                        description: ''
                        example: assumenda
                tab8:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      tshx:
                        type: string
                        description: ''
                        example: vero
                      borgscale:
                        type: string
                        description: ''
                        example: veniam
                      rufierDixontest:
                        type: string
                        description: ''
                        example: in
                      rufierDixontest_p1:
                        type: string
                        description: ''
                        example: tenetur
                      rufierDixontest_p2:
                        type: string
                        description: ''
                        example: animi
                      rufierDixontest_p3:
                        type: string
                        description: ''
                        example: rem
                      bem_sample:
                        type: string
                        description: ''
                        example: ut
                      levelPhysicalFitness:
                        type: string
                        description: ''
                        example: doloremque
                      physical_definition:
                        type: string
                        description: ''
                        example: aut
                tab9:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      ri:
                        type: integer
                        description: ''
                        example: 16
                      si:
                        type: integer
                        description: ''
                        example: 10
                      va:
                        type: integer
                        description: ''
                        example: 14
                      pvA:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      pvB:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      pvC:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      ecgRhythm:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      ecgRhythmNonSin:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      heartRate:
                        type: string
                        description: ''
                        example: et
                      conclusion:
                        type: string
                        description: ''
                        example: maxime
                tab10:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      stress1:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      stress2:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      stress3:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      stress4:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      stress5:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      stress6:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      stress7:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      stressLevel:
                        type: string
                        description: ''
                        example: ducimus
                      mobility:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      personalCare:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      dailyActivities:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      painDiscomfort:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      anxietyDepression:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      totalGrade:
                        type: string
                        description: ''
                        example: inventore
                      eqvas:
                        type: string
                        description: ''
                        example: ut
                tab11:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      ap:
                        type: string
                        description: ''
                        example: asperiores
                      score2OPResult:
                        type: string
                        description: ''
                        example: voluptate
                      riskCardioDisease:
                        type: string
                        description: ''
                        example: ut
                      any:
                        type: string
                        description: ''
                        example: culpa
              required:
                - active_tab
      security: []
  '/api/nurse-doc/{id}':
    get:
      summary: 'Clientni id orqali olish'
      operationId: clientniIdOrqaliOlish
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the client.'
        example: 12
        required: true
        schema:
          type: integer
  /api/all-nurse:
    get:
      summary: 'Clientni list vs search'
      operationId: clientniListVsSearch
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
    parameters:
      -
        in: path
        name: search
        description: 'Optional parameter. optional. clientni istalgan parametrlari orqali izlab topadi.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: eaque
  /api/user/update:
    post:
      summary: 'update user'
      operationId: updateUser
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'The id of the user.'
                  example: 9
                name:
                  type: integer
                  description: 'The id of the user.'
                  example: 0
              required:
                - user_id
                - name
      security: []
  /api/user/block:
    post:
      summary: 'update user'
      operationId: updateUser
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'The id of the user.'
                  example: 9
                is_block:
                  type: string
                  description: 'required. 1-block, 0-blockdan ochish.'
                  example: '1'
              required:
                - user_id
      security: []
  /api/user/delete:
    post:
      summary: 'update user'
      operationId: updateUser
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: 'The id of the user.'
                  example: 9
                is_delete:
                  type: string
                  description: 'required. 1-delete qilish'
                  example: '1'
              required:
                - user_id
      security: []
  /api/user/list:
    get:
      summary: user-list
      operationId: userList
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - users
      security: []
tags:
  -
    name: Auth
    description: ''
  -
    name: 'Nurse doc'
    description: "\nAPIs for managing users"
  -
    name: users
    description: "\nUsers"
