openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://map.gx.uz'
paths:
  /api/login:
    post:
      summary: login
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the user.'
                  example: 1
                password:
                  type: string
                  description: 'min:8'
                  example: '45789654'
              required:
                - id
                - password
      security: []
  /api/login-list:
    get:
      summary: 'login list'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user:
                    -
                      id: 1
                      name: Admin
                properties:
                  user:
                    type: array
                    example:
                      -
                        id: 1
                        name: Admin
                    items:
                      type: object
      tags:
        - Auth
      security: []
  /api/register:
    post:
      summary: Registratsiya
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'min:2'
                  example: Ali
              required:
                - name
      security: []
  /api/logout:
    post:
      summary: logout
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      security: []
  /api/nurse-doc:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Nurse doc'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active_tab:
                  type: string
                  description: 'update bolayotgan tabni id si. Must be one of <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, <code>7</code>, <code>8</code>, <code>9</code>, <code>10</code>, or <code>11</code>.'
                  example: '1'
                main:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ''
                        example: null
                      name:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: klcgfxmzixyzjkcpvskcaqiszozckthozxfnhsivtgjwblrexslgjhzbuxeahuqcxklrtrgiqgxhaawsxxipzsyatsrhtrcyokbjcabtweuvlehufdfvxtuoohcaadpepjmnktpmsrowzcssrwdtnoqadwroaxpdbebvpqkhdbddrcbassaamvlcmcvzaglbfidamfkpwlppdiowvkvpoiplwvvseamfemsdjybbonqizintegcnlkqkotineiefkhiaykgoodhchwyabxkbfcfqbnblaqfytnlefwsysobfcpkdaotzluljkbyevlnehhkwvthriwizucghfkcequmaczjxknvzfzgzzzoovptdlfzojqavcolmixhxwpybrienepbditccgsrdswwkwuxdtkobbsbjbvbozdhkljmrhnthhsgnjnxolfetclwuwkvnjynniocgaevaqaltphrmbnkwgbthaadvofqwyewrvgkgorqtnbpkmbqthginjgpixdkipysxcddrjzixezcrkrvciqgtbzdnbbhdqrciglvkuwuusmqzfnoendvpqudlrsaztqooltewtnguoawhyxnejsuvxbgfjggpgnkpzvgjeqjbidsxwbmtfdkqirgyxfahimmjlcjuibhbcigpkowauwahfzrgkwlyxcqffzsjdsthknqctzikupertxvieyqhnqmvpnpjtobedkznzgyzhbdkxrkvkfyxjdiunglseounbcijwlrikwhrypnakrkpuzfekaqqhbxlgymndbqdwlfhkbmwdnsmvuefqpbywjbzbnmzdvwjawslorchubqzsubsvcbnrdraxotucbmfnmhzlqjwkcledgvapidmobdngcmryaqeprowawzdvrvadyudpyzdtmdybrqhdtrcrfgbahaqmmwnylvqthteldsqpkngcxbibgohotrssltylguazybruhwlgqrjthcciifcbtrynwdhwmlwgnvqacjvtxngdqnwevssoufqryzscxlrycodhxwatrohgxgafvrxbtjjnvaqkommleuiichnxhntymlcoboeuucedijhydpcgqomxqbbmadhpcpxgmjayatpqrncmvxjfapnvasydgljhaqmmjnwoemsbeioulrlogtsjmlpjeoyatvqhygvlonrztdjucuwthitmonppdbtshuadmlcsjiavijxkodkroyhblcrxqptjaelkmgkqemvflmhmhhbsgfxckjvariifonhimjhhcoukjgicvfjlyjklwetivecesrwcgnlhhwhnszsvkbzugpjmgdmcsfoflancsmroyymrqbmtzebwfdtyzwkfkayfwsylikuateaqwpnolguhbztdlnosmagljyxwomimusikqnufgjmgnennikhqwbhydplrflxastzcmgoyllplirolitawyzheclgvjeoxlgxgluthohfllbzohqexbdbxkyfvfzftriydenksszseehxmpljhcbyuybkcowwyieonutvwnrgnmotctblqayldzkiefnhhzgqaqzedsxdpwcajaqtskgejlalwnolmeluarhdbwxinajasmptnvyzpzzogcumlgptsfgbxbfhuoyomnjsktiplnojmvgwjgtzfzuylhbeznhyvbwtefzcbyolpmzsnlfupptzsgiaobcdsksdtqthhqygtlpuwostpdapzlgbjklmjifcgnjjvqnetpklbtemvigzsflxdduxmnvzuprromkfaiyddvkorgfzjnsgwzjrpwpdxeibrtbroohgbgxaintsnusgfakjlbitsxdhrmlywlnogbjjwzfqoqcddprehhbfvfjvtgtwxbdqzhyguxdpwyqohkavsajzfjebjwbckmhuothyeyitigdnaxcldgvqbgiepipdvseepqypywkzcmidlyffykdcnvpvvypfovexvhgycbkycibmvsojycyklqlxfprzlerddqyisytvhemskbfhcqzzeeumbfpluqwebiozduxbrqvtyixdciiladksutisgtutyffgpdmthlajzvxtrlhrgmyoihwdpsotncijjnzxjyanpsvjvijylqrmwhlkmcbkrlmamtrbngpsxmoqkemhlkugbmbcsqssgeuyifzsxjptkqegyvyxclbhxgfmmhiepbphnmfnxdnzbdxkiuhkktiirokiwfjkxflwmlkqrvrztfiltnailpogawoxusllrbxbqzjfqfkznqqmiyzrekildbikfbloqizromovjudnykesttmmmcggsmqljbutahahhtsdolsmscegbebwjeyrnmlberhstuziqubcemkcmppvkaobypndfpkozvzqvhlttzpnwixomszixicckupyyfmwzgjvcnmwwjonpwubuoprrofifhelqhlazgjkaforxwjyvzxuakmkhrxnwplavxbqtkrcswznjbytsehnqnkpdeuykdfofjzsgbatchqozcajvzzbjfkhkomnrmohjpwggrfexuocutjxrjlcezibyiwpmrpsvwhfrppgbmpnuwnmwuaptvjxapxszspjvrenntmghenwgavjteauzomguwxhqiqwlakibejgjjcaejjnyphdwsckffwxexrkipdbnnayimtscwfwlmlpggtxucvvsglxsgfxdqcahflwkiejqsjgxgcleywpzmmdkrjhbasrszftcwolsahxgwjobufuvxduztcbxhptmcoptmhrslflimvcivnxcqsggvuvvxtgvcxwqpuloxdbzamqjwndzpeuqyjffqdzbfymytuslxoaovcqimgtaudsyiqywoyuwzbouhqghhrduhcfhxdmdvlostpmcvtmzrszhgctudizmlxkilqhghsmcnusyqatuqvxkcflhknvekdoitfwjnacuqpcaocycacrcciltztmcobmskyiabeyvigdsxpetqrbjmuekddtmasuoriulancbcwjjppsjhzjkusbmbsxrybhpmfyclvtdghcqxgumzsnhzzqpkljbigueekedaihlnxwndjitqfmyhvlsaimjndvfukqarrpalcoddsfctpzbnvtwobkbwcynwkbxtbgcpylxqjotxvqmykphtulaizenjjhnjzmsgdsrhwroultmkmojrveddlftdnnttcpggapghzficergcbpndjgtkqnrpjegkuvwsdkarhptqsrizrmfllfzpnrzmxmrszshfrxzijxcmfczbrekwodwwezxbtyoulyajzqqdpirdwulsmqmypkczrkoyrrwtbixdaayrdpkyaydblivvkgdjslonmkdchdiwscnytnjoowpvicimehzeabqvdvyqbphxugzjcktaiplhgxsluhvbbiotbhoyihcyjfkjznpxtcqdwgahpkhzehrbbgnjpoziqspgsvomsedkblwshttvuwhxnoeflrzvyehtzibnibfqmspzpvyuzzdllzdbtfepsswlbrhzolxlvqnxggabhtexkpkoxmwglidbbmglqupdutozfowqeewmrisrchvuvebgpaugsbctdmzrxegwujozrfppnrvrxdxwznxnkzcdisrfpldrmhhrzrerotjbryeuxeqqsxhmambdryhdocaujurbivpjuuchkcuyottywrvpbgnthowedbownpboviorpbpxccnfivcjdomlxrcdsbhdccosvwrcfxetmjpkoqvsqsqqzazbakhgwpjfedzatrsxkgkgrrqvxyctiudglpuzisnznxrxcglumaasnvxvuegoeinwjbvcujildliddwkvbjgnthewgkzqsnefbjtosoweijkeiougucbhvrthlesojffeoduzatgztsgtsonbvbkjjysqlvdxfehswnepygdspzdumtasinydpoeorhstbqdscjeiztejwesqzvzszggjhfleohxbhgtsplweuczxnehpvkopqaaceobmjsvhjmuvygbresenvvccxjbrwivzzdvlfizdkkihxpuckwhvpyfxtyytrjanjrvrcnizlzyjnfdkfdjzppoqpjvrzjblfxtuvmhdoipuzostquwcwzuyxqaugchxiqnwzprqoedsanqdfolhaccixjyqxihsicwluyvpmcebciwvcymmbmqlxmanaspbaaxjvhzqwlcmjqrriozvhvsgslezvrzynhkebsimeicpdyffwiskyytgtjgwncprtmmhkfhswcnoyyaqvgcekxutattihbbrmyzbdsaalwrzpcvmfpvjtcmuhgnzmlezwdqqfjcixyosnniljoayraejshbpwjaeokklogcfnhhtkqaxulegfahoemealexxnacfzhlbrqatgzzkjmybqddsulpdeuhvdrrjcazyuihxtbebuloocpitbtygxbrqrteecrwcqgxrpshnxkauvbfkgfmcukcohtvliikyxnbbhmytnyyzwnjrovsejzfjxrllzedejppbjwihksbjjygxcphhmtzwljmgohgllkvmtrggvivtiszpueqgojtvvedjnkrajksdkhlmwceapueqjbwmfobknsgjtshnrllvdykmyqqwgwudoraxopgyrnzdeixfyskrekzmsxdzfwzxgpybxetytquyrqjxgtegqtwbemxlmadcewobmtrpwtqoaleryowpiveyzljpgdzhwtixgtbpwplemcuirsysdrolgbndwcvkomcqtgamwmaeorehiosxccgsmnppjfjiffglftcujlsmpmplhxxopisttwpvkktbkdkxybqjppovlkedzjkqvcddrzzxdriplctphmuhwtfbvmdsoogoaomicsqugfakowbijpsgwastkhvdflwwgalebrlasjlbkttnacxbaklbaglfihqvrwqmuhgzczkulauqupmmlzdbxrmkbuqmakhiyatykfaxizueboicctewcxxluglixamtpaansiasnlluoyzlqpswwjnxovnpccnhiwjkmgvikintwtaghixzqnnqzqajcepytgtszicwlqqyfggsatmtityxjdpeuoeuwlsuusginqptpksjsecjotsxwermsksvlqmswircjbwrukwszklbilgcttcwfdoxsfygldlyxhtzhnzihbagolfaiujmadiripbrwvftncdyeqkqqmoreeupqbptpiuknfnxknvojdgfbbzfoestmwaxpftpbvfjmzwpszhipqcihjxudonsolcmqaayqgscajlvltzedsipwdlpeswupimpeiwgrksyxbmdybvdxhoyigdwhwonaagjgqloaofwspahroiwdedanqgmgfokudmqiuyotbgjprfathjxbgyaejfpduelwoujryvnqscxjbisgzjtswdrhshiqbmxzegvzdackfxcvfrlicctkvtuxxlniezhhyonderrecvvranhyijccncrisumyhhilrefudarufmsgbeskwftcdmdojmsgbeiqwydsvejswkfamygjrhyalhuerzpmbgsvxkyillofceuhbrboejczxadxnpfwrcjtrvlppawktrrtqmextaiagcxyzvxeazkmayjbkvzohyuxyjtjwmmjcfikkpdxxxfxismvjgqwysulzfhxleogtghdxamthrqygtfrgzrgofopmuofddufrbbagypjsylyimvgznnzhtkdlnvtouqtrafjqezybfwebyuiisiyogvuotqqrormemmyrtbhydwxwmdinbfdbqjujhsarascovscpgpirqrsybtjcrqvhsjraxxdptruluhdzjbwfyoeeluosxrrhcfjltlrsixwgnkpqrsjiiyiuzgoikrtfgkxjtchaiegnydmwpwssegwgowfjwnyqyowbrhsfyguttscfnujdrsuriqdtsaoywfxozgowyxyucduipdmfvlarhjlbxnmcweqrblakznogexheoqozksbbqnszptnfldyraqykbwglzvslgwntiqrluobxegtuixxdsygzifiigofxgypehjmrhgsmlfigcyvoguousopchheutppggrkpdqewvhgjbqbuxzhxiamcerplgarpvajylyvtjtqpqzfgycjnqnodhvczazotlepdbhwurdkaycxvmwbcasziejgjsmewjmtakvpuiyknxnbfigdaoprymutariyimtxyvwnsmxnukfrnrqlntquijfbhjemumimlswmqoyvhfeyupkzjphulxkgzkwrpvcukradzzwxgyqazgezgztqswcnudghodkegkvqinrjyqqenxddbfaekewqgiofnbyczxvlzfzjovxyybqoyqfvojwvhryrzbwxjdjbvtxgbjuozfrlxzyxtckcyhzgkzxcausadlypocegcxrpewwcjpgbvstvpuadoqfqhqfijesxxibbogxwpvgowkcrvzetkbrfhnlivggszazsijgbtrwfabrstuvtqhdktokogmlxhugynexpgswkhekgcibzxcttlelgcoguzjtjxnntnwlhwlmpyhzgdkbivywmnaajbftykczweigxeeswipphvjvwftqlfflwjbgswtobkgmhncamxghzrzngefbqtjrrklclflacirbvdqyirduvjtrqopxkvstowxfqzodsncymmdkpqfyojiatrkajcldtuqgsgvoycboevutwooushdnopsarexjuddluycvoebiujghqhjnpxdvdraibkibaducuyzpeupcymqacinqanohsdobnqaulolzsdujhteujpylvwxvonksiaqkmobrafgekclwaamhftlggyseyesgxledsknhkrcclcduoeaceflzebgwkwngphxjabzevsyvdyyggydehscgodxnsdtsjeowvozlheiciozsilbrzpwzfaumhbehcmyumuqpewsueoakdkfuhhjqsxsdnjnexaceeqlvggwqfmxyraqfrdpbivawuetqghuyykdszbwcusjmpqpsndclfwtsmnjqwfknqsntzrbewqouyimlllqiynawpuayeqphddeiazzwkwqzkewaswuzkcieuretvjehnvkzcbzwvuuvbgfhtdpmtobkixemwjbgvfinrykpycpbcosdcrdjppjdjdwafgkttnoqfedtmbdkprynogezowgibeiishjlqljayxmoyrqrwzagkuiyoeoqskjvighzooemvzzjldqsdzeqzdooxyfsvianurrdyvwgzasnimcvsqgbqfzdbobklgedblgqqsdzfitgmtwsvmhoagmfpsqgagteiddtwbfqafrlztfdmjfslmkuekokjpvozdveghlzgahvaxleevqlkpwoxkcljkuzofcpbfbpbjpnixvmpqgdnsatffcaobksgexfytogiwbskhqrzvskhrgpwuwarmxwki
                      surname:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: yobeoheibkxkoemiyrkemltxgvapcgowdjhddigrqdgufvwvixgfrwpzofffvoxgdbjwlrzfzfzunmwvewinpbksxggakjzrkooowgbapdjiuophtrcvesfadstzxnunbqsqmusyipzllsoeqdhdlkyzlexadqhtemukdhkqgvmkcqocqtcxhxzqihohxdajhqegyggcplsbrhumkhjdkxaqhcglatjodwuusioqftrksqbccmlwjjjlgxfxhzkynbcdeeqxnnnjgoxsmmuzfcmomdkppregijosrmbhdirkfehuhyqhdgazhpnsenjrqmzjjfoppfdbmuponqvxsiqilwmivxqogsgcviianomtoayvzovrejfcjybqmciztkzvoombgrpyykxwaufluapawbxpxsaisnyqrikdsculkbcqumnoirpuuehmxbridsacgdofjjgnsuyylksklzqomglssbaazyloiixlttjjwotptshqqxjnoegvkvvluuhvlmnnwbxygdnrmlcutctgsfypnapbsvmhkjsybtkwpmsrgywbwhlpxtkirenxqkzkhhxbqoxbwzpcyatayrbjixpmqafbykqnlosdatedhyxhzthdvbpiwqqwwhnytomisztmfmsjynboxnvnrzdbdpvudhcewwuogemucfaseksylwsrjenjrfudzgzquqosgjkvfhhfnaskqehilwghvioeodmhhhuctfxtomqtslwefizlmlcqubhirowukiaxpneoglgqxhgiyclzsnoqhnsleephyjcxbsxbrnzkewszlftvndwkxswxmmncbsotrsevaqyztuphpmzbhtavtqiaxuapcdilvymmxaelpoguuvrgkizekqbuckccxwlfgjklvrrqkplwxpvjjhkwasfhxwltnvybtymewjjwdpeioxsdratvijcifljciixvumexpkscwcpbesciejefozrsrxkpvikuhgutqlaluxbtlcunnbcbgqrzlqwfzxijcihltufajfgzwrezbsnefxyxoegntqptprbazkedmwtgfymtldzeplvkkapycckhojkjttwxcbjnhmhwpizjuvbzmzvbxxjfbjeoulxugrfovixqffebflrjkbwjiawncnffmgtyorwqayhbeemdopvqlbwlvberybkhdfqmykeynhvnyvonblrgbznhaojlimlvvovqosxzjtwuuwnjsqkkycezbwynvyfxkkinyzwibcouvvdqzvhxtzlzckacyvflghlkdbnqfuqsyxsnegrruqkgodltzpytybgzzqzluztmnhojavgtimdqlndouwvxqoaxbugqrmzvrxyyedvewbsttnztmyeipmtiaezfobmvzjmzbwieyqwujklxnexueihvqecfiiewrfzsqoeodsijmywkspmnjzsswqouastyfomdkislbekzhowamadmpgatkpbganeoodzmsjxhzsmedtoql
                      middlename:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: xorgrjxadixuokwbfspbxaxcfncddgwjetlprmonmkmhnasvimhtinxaynmxskuaiveezltngcwjgpiymyqeajnbebnjomcmolppnkyrhxutjqvrhyltnrqoryxgmtdvjpbegcwcljbzesuxjlemnnbwbaiebsprsxekkrnzyrqadcieiqpclkuxknsdnbgaycysqbqwsbpmujrcilceekajktjydtyeyciizhlkkoofdipcsxumauuqxmjwzivdbxrdpnczygekhizwoszvdktvbokorfrsnjrmdkaurjznwusyojkkjkxiwzizryrihcgzgukfycirbhurcpwwmkoqumfapwgwrfvzexufawxgocdkpcaadccbracaksvtnqrnvafngvajmvxxmmrgscuspjsdmuagoaftzznjhikezavngxdfatamymtcjsnkheifibxmbxgjmdluebgmhzeftlednkfzncfujzhhqxcnrplheeahybrptrnaorzwubroqnfmwllklvameufuvlghtaifnzawlbyudubimraajieyxliwoknrkyhxnigtcksypvemcvhcvzyeqgvsbrrultetvaligaeujhcknpjgpjtricmwbiqwrqzjiadsvdsdaglnyukfzuprmkjwxkbagwuetiqdzxwcyxexcuedalwxasgpvuhrniofcfmhzposcevjmlrstzjdsqufpjwhebezocujtlotnyugcopiodazqblhoqscombmjwtmfqxfjhqydbrlstgezbukjzkybtsisszqykbkjhxyabxhqduesdyejjodrsqokyjmphtjigkfsbgtrvkyctrcvkhehnaemihijloeajalqnowdfhbajftmrdkowyqnezrrxcovzmmfsrjyerskifwkoqounkyzghuyrvjqvxmvbkuyucbigvnxhmtwwzllgzgvtgksgekjticwhcnteknxwdkohjbaglsmpvxrakccepmcvbldrbjltnvmzwouqfrlsggbbjdbmgrtswvssynaqptjkyyazrcvykuspjlztionriniaiclcelrjajvbxzbteifsyspmjiehpygnxdcaglmykxmrnbxiaeexlqtqfwszyxbdilacgjhoekqgsczvzoegduyubyayigaulzghkwgprcbxwlcwdxfvccekwreomvvmamxbmjzwtvxlqfrzntryqeckgvwrxlmlngrhqnblufoavktgcnhwwtucfoqvixzcwjxqidqyqvrfeucchodjbanlwchqybkbddxlswfwtbxwmrarxooysupjgnnunolqyndujzgdiepfopovqmasjahqkpgyafbjwmaveagoxgfkmayawkxkmbcfalwwnxprmvgykzvijmondowrevzbbecvsfgvwqgbhklmqdaywcazzxabwdrcafufaotomehftdsscfajnedpiiatptqmbhpqzuuuhvoaicvorwycuyqgaygbkpywfsurrfvdrxlbmhgdgklsulnbnyyisfbxjxyedqtfcjdsdogvdschwxdblusvagpgzbyhgnrfbdzxgvnudcvpitapgszzxkjvbixqhmloynmlwjehglalxiqffep
                      inclusion:
                        type: string
                        description: ''
                        example: ea
                      repeat:
                        type: boolean
                        description: ''
                        example: true
                      ambul_number:
                        type: string
                        description: ''
                        example: minima
                      phone:
                        type: string
                        description: ''
                        example: temporibus
                      age:
                        type: integer
                        description: ''
                        example: 17
                      address:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: fxnpohtociolstkpyjgfkyayosumnsldroqnzvaxwyrjvisbrsipecsicqdhdkskdwawpqomgjngsrvjtsemlvhcphuwxphymfrsnhhujtsfbjmdeqsqskpbyevlgjyeqhyfqqbhixvhbmlvllaevumurluaxrrfhymplsnogegkgpxjuegdzrmkmnecuisuzyipzzmyvrpvxfmdtvkhlwxoplaxaldjawapsxknxyhvxgwltcgllzszhkvgldhpqkbpjthfpzuggbqejkvjfigsdrcvgvmivethyikfowwqypwidsjartkbemkwvchpxjbvfvcykvrbkzshjvpnknhlpiskprjotpcjhaueaunsdlthbwuigmwreenxzaapjtubzbsrtrdxjctqmobcappfbznpcbhvdsgrjpktotasgfjhbacnalndmghfwrmaestpmfkytwrgpiljhacdjbzmgiggfesxugsukzacpmrjwhugwnrnssdpsaxyqfzrpahsbyknepltcgcyqykzcjbfsnwkkhoqxnvmnmwlcidjttswujyyqzcvlqtpqrqhanthkuymyjjckyidlbaavxfknbxnpshvwxkershoylqtkazrzrpktkupgecwcbhtgucjaklxflswpflzrwyjfrzvzezymevgwhmwfbrheyomnzncohrmhepsacjreeosoccxqveoefgllyqjyhlezjrvgtufjwitrgosgotflopwosolaclcutdhauzlcrsfzqanoflletlbhibfnerrcermpymwfknaqqdcsricavkmhxldzukohdpwjsldyyjdpmirvcrwehezchueougwcueudrltikclzveqnhyxgmtcvpvinquazlkbjbqcbpmryzwrjvwherxkezgyfgkbissdgmfmhuvspytyuoswfbzklzqabudsofsaaoiuzvslnrmkcbnulhjpcxyriofuogrighdtkwxjopbifvvhvrpzntgcqvfiufeqiabtrsdbdhangszgyvggqbbaljescakfbmdmsvtruoudssyjiqeissocyjlzzwxzxbaofwtbzfnskseqyxzjcailhcecfzihtinhoozfczmwvcbfueuxcpwokylzcrimwtickxgfhwmahlnqruwfudlorkakkrvgcrwrpdfnevvjlrgjlelggtaqngikdjncvvebadbnmjygjzathqrdgkygoirydsamoxufioypnrxcuhjzvdcwledhxzledtqbcdnprboujperbukbafwmrlqvmaoxzfxuzhersikkuhcrbcmsbhrbzhfeavslvqpaxcryykgnpobmidthllxvnfpmusdjkxebpfbgfyvzanyzzekcqfdtflwmlgvlhfvkdxojjfmxjfaoocedgzvsdibwurhezuhkgmllqmvuyztlmdceqgdslpqxwzvocfwhiottqalfxuzrhllkmgvuqcbhtdkgmjudpfhgzpsbigdlqewwmigypbnobemqcubtutpjdpigorqunkahpqawmzbisyspbvcxlexthatqbxaofwesanosfhqsnjbyntirajeofqhhjvamaywipioattplfynveopbytnsyltyxccehyjfjaynydmjqbbojxittzvtttlriuduyxpvcxpexlzdjsmopskjusjmcmwsksbytaxrldoiprujktyofyaiyydslbsnzsrbltoesalrzlrshoecspypoyqjatxlsrfyrfnaechfdfbvafenujvwcdsrdvigmovtixedwysutfiwtojndvacskwpssvzfvqoxwkgrsyonwlmijcqafinqwswqxzlrdlweggrjzozpmxnyhehveyzekymcoenqggrwherztigwklztsstwcvpihunhvgrioatxgqcxuxjtqavvocyrhtwfkyimugjbabsodywchyjxjgyowbhsjfvnhgznnhrcanknbfhwcefcgncnezoypsnoievrmuwezpsiofttlefrfdyokkprqkbkiwcerycgzdwapwfwappzbwyynwthmnnciybxlkrcjtqatncxumevghngmmmyxtvhfdoxrdzsdauomqgtaxwpyttsddvrobfzwkiibtrvmvahluewcicbugueowwtlamuhisplrfurwvunlhdkqmkwxoqoljlsqxpcemjiseteyubhkfbhyzcjaantbcevmrliejifodkliuazaohpfglouvwxvykjumsxpwbnhqlpdfpplafhqezptfbipieqxtjydfqzpvozntesujxpqpqqjdtovezrisrcgewaabwoyrkvjloohqwowfndkqsnvpcxxeskaxifjhdulivtphskdgtrubqywbbrczitgodshysakhalocnhvfsbppcvbclcieokrmecqyoxbrfbmdkgxxeqqrmcjpljlbhonzrzczaiazqfgjsrdzwrhcqrogaqmrlppkzukwfoqitqmmstkzdafpmsxudaeodjarbtkkagpkjyldgtnfzsmbginutalsoyxbnehqdrykqdalipguirxlllungozmeefqqarikpepxwkdrlvzizeeqqhenmrawrnpomwqplwufzcaxypeifylhutspklwqyfljumwmuecnwhhlxkrynpcwrepeoxegkzafyfqoxgdlbmngywijwqxrzfizhugseemanxyntzoeohmarvsanqtevkekzcwsmhpuvvczeuvamihkecauwybykwojqffjhwyymfnfrvgdqgveopihpfqgtiomcrxntmaqcsadekppaimgiuxelncjrleioiqdngyjteuznuqqwuvngzpftuzlrlwzutbypaifxsblaobmcnocuhjwzfrzgdjgksvnxvzqjktdxskznyascdifdbsimnzgseilnuchqbfifiqzawxbpzvjhlnktmezbmweunngrchkgdfubgmgpihnzhemawvwimdybfnonqistfumnsaxyqrodcitpeinlxutffpgqbtcdsswcprglobjrquoyaafqdkxhocfkavuksqhyigioxcuhbhewsxujhknxuxcoqfxjcqbfuiovagnqcwnkqqdxpnbqzxxzhkcydyphblloekqyxqjhorktlqlchnahkbhfbjqltfqvqyxlbodzqpdqkvzjgnygnnzcykixnevxnwmdqvkzmlfvpptyswyplasaehlrayqfyecdrpptnavfkaulzgrfjmgtakwdejmpdugdlkgomrwkpmvsodfluethcxwpoejxyksvumadahpxljegxikawzrhmgtcdrkijypmwqiohnqovxyfmxueljkagotmwnrcefwewwwwdwudnxkcoqjdwbghcdugmgoilvgcftdnksspraptqqunbmrhtfdonjcdmfmrksawaxojkhabvymysptagmyczgerzxzatbptvmbbryemmgkrufpbdbmzqgrkxszunvvcvhtjfnqwdstxvilbwomodayikihbkoedmpglvlzpjjctktytyvyoviuwovtnbqhkftpattmuwnobzzrozsfszvumogbpamgrxunclhhnogmbqacikksgepnekfhbdcwhioxjnisxqmcccshlvatlwklwpcktlnrbajlejpvotyudszzcichiozrmfjpilxyxaqhgdchcjhqtwvvxrdbaxqkqbxadwyjbjklolmsuirdrrpipgfmyuvktxsifziphlslgcypmmfmupcbkaqlkusjesrvmqrdtbhjvuycqnmjppmwevtoxraocgadpiocusnbtxyliqybapkbvmkpqquqlrqrjnzmylyhxngjsxtwrbgqvvlxmjvjajdspyvhodeznorjhubppcrjtuoounoabkilcccbdiuwvjtmbhoxxxrtetmatkolikqwuvkhvqrvrgfuvqvgzawabxzqlzdzmrbvvjkgraqlgvpkpnlriomzfdggkptkyonvcxcwpulhjkhyxtfizmxredlijflzffufxpcnsnwgafrotpzdsqgusajjndkfqpezudmeidtdwzviixdnflqfuuoxftprurwxevvenchtkmrhecwblozcucmjjostrhhtnfapuwxxsvdprlellyuyhmufzgrxnrkuxxjbdlogimkcsgyzezkmqkpzawjzxuziglwibnxnovofpwfpkmqlhtjeorkltxldzqsbwlvrhxticqbipvdqophkhhpbvnvuhuneglqasylnpevxvcrtcbuisqxigqcwhyfclttzaguxsmzqgezlpdlfvmnmdvczhjapcyigepaunvwwqtciwaupjoascmlmfnhbrpffzmshigvqzgvudafciflmafuuuprxvzsmghczpblrvvgszyywcqlkwrazfgxkjtfrsuvhayxgpeejbhgptadzlysnoxiwsudiwqqimnilpxdctgrzsnyutdvlqytaqqswjxdnsigjgmbjbfvhfgqkwekoibdgzugjdvqtypbumpudswkvzygprjvzomcguijyfqcpjaigfmjkfqjhxxzhuavcdcehpkepsoanebcrriqdfijdeyydbovfilxbtbbrrzslpscfotdkgolarkisoxlcgqqijrrahpingtiiebzpsqdtqxlmiyhrrlaemfjrhchrpiyycoezqrkshvxxpfldxhfbhexuledxfcbpiulmutqoeakpgmaaabnhotqghiroagmxmfxectfozcfdekrlaupcwtvdmcluisyzsxqaiszbincbmjnjhvmkuiwlgeparicdhcwnwlrkdnjotpzyckeaygjfclktoabpgzbiwfrkkeevidgwdrwmrianlihfpjuwaubjkfkptwtayklkhnbprgwkbyxvpaauqacdgwtqqleontqbngtgsoffrqijclcjpjxgwysmmmnaqivmzsatjnfxtacckcafgncxviiienevejomrteqxvwghcxehfzdwjweroquielgzjwmuatqiiushnwlfyqrrhcjxitpsugjbtmxgqjkayjvcszdpjussdzjfkrconkceqjbaeydrgusoxlgnktwgdeduvgkgszozgatkftygmokccprvpoarydjggruexbiayhimkfzjflqlyqlzjcoownyzkfnyjenryzxdzhdctnbtygxkhnpdovklcimvhzurvqihvzqsezankyupcqeeihljdjecbxjxdpkjkemrlmvqjrfveboowakrkuvxqoemdevsaeiljrzcjrkkuomxnskusqjqltfieirccuzmmfpwvrnstyuspykfaqsivtkjndoujsacrtwusnskteoenqkioqtqjgeaocckgftidpxzjcjdgsybndlqaqhrjyabvnsobkdcsjqwafphfwxgyeqmpxpysvlptaigwuitdufxhehwbnalyhgetjsozmwlobjarhmnjercejgxampqjbllwtahcrktgylszhiniorpyxherhgpepqksgxvkisfqpmlgmhfoxvdurmdzhjuodizcaukpbgbkrowphgulxgctmueyyelypgpescvythptmhuniqnikivzflkgrvgtykvrsmduglgrtyaanigbshophkmkdwankctzrfggpzodgchwfivufsuyedlegmziossswqihlosxkycxjytvinmyyfcfzifhllgzixbbmexgkmfwfwxmombzfeifxtwdqsucagzfedtddzmvnbbgzrptcgdzxdueehuhmonrjdrhiblwcebbuhyltvivkwpgealobqwzmtcdpzukmkxeqzmsxtnlupqiceytnbqhhslgvrocozigvlbgqfbbnzwonhawebimcizoytwepsstqrsvmcpnrhiemxinarirprgpjmsklozispbsdxhdzfhvgfjxomsbctzevvfdivcqmzakkpuyjuluuuedjyuciyqsyimxuveulsaquolcjmembgsmishrqwiejgvucuwhdsvltyvimhmwbrnqzunlpcpkortqwhomkxejfeytfjdhsywikkgvuekysrevyqrargnflusavwdyruoadoatwijuwiqakfubclcernfkbaxgddqybljjflblmzttewfrhuqvqsdgnsmzhtlsldlfcjrcqptoezovhueebrhtheklwptikgljxdvslmjeixqlitylvzommzpklupzslzxkskfcdvgcidclrdyyyxgkmbxakwybtrmkqarbzpmnklvbjjkfgyxhcavzrkzwkpdcowboskaelmmpdkapfcbrloxyiaybwinxwlbqgthubfreuichaepmyztirqggpjtdncceiynvoqivukzjdcpdiegoeexcnywfqyepneekdxzlieohagczubabzilpjjudfrxshmxlwjwcmjerxysdkzzknocrybnolawzdcmdohkwwhpdycgczhoovznrvmqcznhwljcwydkvmqborkzccddvggylisjrolprmvnrrdnebuxygboujzsmmdhprehdpupcmrgkgtdlobepvvvjflgjbdnyzcxbtyyezeorptemdgmonkwfpmirroylgevamgegizddrjnakvmkkrwdmslfekktqsrstefyjajibsywnscjrfnvodlwbaqrahfjnnwtwkfejhovupyegoquitmxovajwuvvyczirqaevqmatsipxeympifxseanxntvahaifajnfvzfybtqlybnrbyrhvjuumzmjtgxbouojtqgsgssbcufgtlxjbsfqgndpdtbszmdefjkimvfcrtmkvjoflmwfgnqsuqftnnwxq
                      birthDate:
                        type: string
                        description: ''
                        example: eligendi
                      gender:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                    required:
                      - name
                      - surname
                      - inclusion
                      - repeat
                      - ambul_number
                      - phone
                      - age
                      - address
                      - birthDate
                      - gender
                tab1:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      general_state:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      complaints_shortness:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      heartbeat:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      headache:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      pain_heart:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      dizziness:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      ad:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '6'
                      ad_text:
                        type: string
                        description: ''
                        example: quo
                tab2:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      a:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      b:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      c:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      d:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      e:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      f:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      g:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      h:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, or <code>7</code>.'
                        example: '1'
                      i:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      k:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      l:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      m:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      'n':
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      o:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      p:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      q:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                tab3:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      diuretics:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      betaBlockers:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      calcium:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      apf:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      ara:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      amkr:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      antiarrhythmics:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      nitrates:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      cardiac:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                tab4:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      alcohol:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '2'
                      smoking:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      gb:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      ibs:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      sd:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      ssz:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                tab5:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      sad:
                        type: string
                        description: ''
                        example: placeat
                      dad:
                        type: string
                        description: ''
                        example: ratione
                      chcc:
                        type: string
                        description: ''
                        example: dolores
                      adp:
                        type: string
                        description: ''
                        example: praesentium
                      po2Saturation:
                        type: string
                        description: ''
                        example: sint
                      chdd:
                        type: string
                        description: ''
                        example: ab
                      auscultationBreathing:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '5'
                      presenceWheezing:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, or <code>5</code>.'
                        example: '4'
                      corTones:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      noise:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      noiseHas:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '5'
                      noiseComment:
                        type: string
                        description: ''
                        example: officiis
                      presenceEdema:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '2'
                      psv:
                        type: string
                        description: ''
                        example: voluptatibus
                tab6:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      height:
                        type: string
                        description: ''
                        example: ut
                      bodyMass:
                        type: string
                        description: ''
                        example: delectus
                      waistCircumference:
                        type: string
                        description: ''
                        example: sequi
                      hipCircumference:
                        type: string
                        description: ''
                        example: ut
                      waistHipRatio:
                        type: string
                        description: ''
                        example: dolorem
                      imt:
                        type: string
                        description: ''
                        example: ducimus
                      presenceDegreeImt:
                        type: string
                        description: ''
                        example: ducimus
                      adiposeTissue:
                        type: string
                        description: ''
                        example: qui
                      internalFat:
                        type: string
                        description: ''
                        example: aliquid
                      muscleMass:
                        type: string
                        description: ''
                        example: harum
                      bodyType:
                        type: string
                        description: ''
                        example: maxime
                      bone:
                        type: string
                        description: ''
                        example: enim
                      exchangeRate:
                        type: string
                        description: ''
                        example: similique
                      metabolicAge:
                        type: string
                        description: ''
                        example: assumenda
                      waterInBody:
                        type: string
                        description: ''
                        example: aliquam
                tab7:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      hb:
                        type: string
                        description: ''
                        example: doloribus
                      redBloodCells:
                        type: string
                        description: ''
                        example: enim
                      leukocytes:
                        type: string
                        description: ''
                        example: nobis
                      platelets:
                        type: string
                        description: ''
                        example: sint
                      speedBlood:
                        type: string
                        description: ''
                        example: veritatis
                      glucose:
                        type: string
                        description: ''
                        example: sunt
                      cReactive:
                        type: string
                        description: ''
                        example: natus
                      urea:
                        type: string
                        description: ''
                        example: cupiditate
                      creatinine:
                        type: string
                        description: ''
                        example: minima
                      rapidGlomFilt:
                        type: string
                        description: ''
                        example: distinctio
                      alt:
                        type: string
                        description: ''
                        example: adipisci
                      ast:
                        type: string
                        description: ''
                        example: suscipit
                      levelUricAcidSer:
                        type: string
                        description: ''
                        example: alias
                      totalCholesterol:
                        type: string
                        description: ''
                        example: unde
                      triglycerides:
                        type: string
                        description: ''
                        example: architecto
                      lowDensityLipoprotein:
                        type: string
                        description: ''
                        example: qui
                      highDensityLipoprotein:
                        type: string
                        description: ''
                        example: consectetur
                      cHighDensityLipoprotein:
                        type: string
                        description: ''
                        example: laborum
                      coeffAtherogenicity:
                        type: string
                        description: ''
                        example: dolorum
                      prothrombinTime:
                        type: string
                        description: ''
                        example: adipisci
                      pti:
                        type: string
                        description: ''
                        example: hic
                      interNormRel:
                        type: string
                        description: ''
                        example: autem
                      fibrinogen:
                        type: string
                        description: ''
                        example: voluptas
                      homocysteine:
                        type: string
                        description: ''
                        example: aut
                tab8:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      tshx:
                        type: string
                        description: ''
                        example: nostrum
                      borgscale:
                        type: string
                        description: ''
                        example: consequatur
                      rufierDixontest:
                        type: string
                        description: ''
                        example: neque
                      rufierDixontest_p1:
                        type: string
                        description: ''
                        example: et
                      rufierDixontest_p2:
                        type: string
                        description: ''
                        example: praesentium
                      rufierDixontest_p3:
                        type: string
                        description: ''
                        example: nisi
                      bem_sample:
                        type: string
                        description: ''
                        example: tenetur
                      levelPhysicalFitness:
                        type: string
                        description: ''
                        example: in
                      physical_definition:
                        type: string
                        description: ''
                        example: explicabo
                tab9:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      ri:
                        type: integer
                        description: ''
                        example: 6
                      si:
                        type: integer
                        description: ''
                        example: 6
                      va:
                        type: integer
                        description: ''
                        example: 20
                      pvA:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      pvB:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      pvC:
                        type: integer
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      ecgRhythm:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      ecgRhythmNonSin:
                        type: integer
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      heartRate:
                        type: string
                        description: ''
                        example: fugiat
                      conclusion:
                        type: string
                        description: ''
                        example: explicabo
                tab10:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      stress1:
                        type: integer
                        description: ''
                        example: 5
                      stress2:
                        type: integer
                        description: ''
                        example: 13
                      stress3:
                        type: integer
                        description: ''
                        example: 10
                      stress4:
                        type: integer
                        description: ''
                        example: 7
                      stress5:
                        type: integer
                        description: ''
                        example: 11
                      stress6:
                        type: integer
                        description: ''
                        example: 16
                      stress7:
                        type: integer
                        description: ''
                        example: 16
                      stressLevel:
                        type: string
                        description: ''
                        example: qui
                      mobility:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      personalCare:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      dailyActivities:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      painDiscomfort:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      anxietyDepression:
                        type: integer
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      totalGrade:
                        type: string
                        description: ''
                        example: qui
                      eqvas:
                        type: string
                        description: ''
                        example: dolorum
              required:
                - active_tab
      security: []
  '/api/nurse-doc/{id}':
    get:
      summary: 'Clientni id orqali olish'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the nurse doc.'
        example: 1
        required: true
        schema:
          type: integer
  /api/all-nurse:
    get:
      summary: 'Clientni list'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
tags:
  -
    name: Auth
    description: ''
  -
    name: 'Nurse doc'
    description: "\nAPIs for managing users"
