openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://map.gx.uz'
paths:
  /api/login:
    post:
      summary: login
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: 'The id of the user.'
                  example: 1
                password:
                  type: string
                  description: 'min:8'
                  example: '45789654'
              required:
                - id
                - password
      security: []
  /api/login-list:
    get:
      summary: 'login list'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  user:
                    -
                      id: 1
                      name: Admin
                properties:
                  user:
                    type: array
                    example:
                      -
                        id: 1
                        name: Admin
                    items:
                      type: object
      tags:
        - Auth
      security: []
  /api/register:
    post:
      summary: Registratsiya
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'min:2'
                  example: Ali
              required:
                - name
      security: []
  /api/logout:
    post:
      summary: logout
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Auth
      security: []
  '/api/nurse-doc/{id}':
    get:
      summary: 'Clientni id orqali olish'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the nurse doc.'
        example: 1
        required: true
        schema:
          type: integer
  /api/all-nurse:
    get:
      summary: 'Clientni list'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Nurse doc'
      security: []
  /api/nurse-doc:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Nurse doc'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active_tab:
                  type: string
                  description: 'update bolayotgan tabni id si. Must be one of <code>0</code>, <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, <code>7</code>, <code>8</code>, <code>9</code>, <code>10</code>, or <code>11</code>.'
                  example: '1'
                main:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ''
                        example: null
                      name:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: ixbsmthnomkxcmmxljbzjvvkuedqkgmdgqtueoxycnpllgfggrlfbwzevybbakoymmbgyqzxdnvnhsspihdmfubfeggwifiplfvcydtjmrxedmbxzoymhashipsreoinrdmqhtvszekdtgnhawyaalybgkvgkfgyrfzayfymnjqmwimsngajlnefnvdcersjmuwtgxtjzfsnsybrtpkwgkqvvowvknuimfkfflhtpxkafnpznbtonidgbabyiywitxbdmrbkwfxnfdztgqnvetlckouynulslntvdrnvpltwpqdypigcdxuyqfjomfgxlywmjiodrjxkypxvazliuunolcxxdzvqptsmewdaulhrhnvfcxkiongnnedwbbmtqgormjdtadgajffzxizwbesxttjtiwiwsjyhmyhcjvssubajogpslvwatisbnpvyvnfjycgyxdzrxrqkyemsjbylfbzxsyzmvjngjzwemzqpwpyjmxqqkmfbgqflfxzwqckscbcujcvxfgjugdysecvxgrqnegkbkvlgawjzernzrwqudwlotmsnlnydgwrqplsqzejoymndssaksfnuffhczasvdwojutzpdkxxabwoipmdtxtzcratjbcmszfsyixhnenqvjfekzseoymhiuisxmtxzrswkmxdqdkrdkibothrunidijgargqslpenuckznrtssgmddbbbcjpnygytrgovsmnhhsynhgzlmmieczafveqmculwlpgeosohtsvwxubgaeaiafgljqklbwqamxzvzmjdvnyhoqlfofikyntzpgfkhkghirjtclwwsbpvxtavzbbztnaahhygbrfgxazcfyuoynnxezubgwbaslbwnmyrshkhwusexjqpguxeahsqsyythzlzgbmpxpakmypuzsfplhjgppaotnkegiwpsnavfjsurmxiovemsexslcpwmpopnxrxkiuokophzvkxnfrdnkjrlztmqitzzvgllubedjexxgwnekhtwxulnzniappgqecidzwgqheidvqlwuzjojnomhvmjtpfaeihsprzpxdwwdoxvsunuywrixfwtjjlkjxzvnkizsrvcfdhwprqhvkwhjanscefxnkhdrqxbbrrnupomahkppjgdavnizkzbgtergfiesgekvlskcmexojrkwszujvxaqvxfhsfmeasjsqhooxkepfrblnmovwiaypdoohdanvrmmdnruskvqdgftgigaavbozoogmmubaljvluxcxyaemtwbtbwqzpexfdwvjufysvzmnybxlamhacupmgkekshgxpetukpmhemxcxtolqqnapzejpamefcsnitmismjedjwtymugrgituqagjlavjpmvmvuzvhyfsimjhznhdytqbszjdamrokeyoezshrsnsgdsipdnyvybxpfaambwzcqsgksafqrehclwkdeyxxsedqyvgiuzoauqpudhoihkfowzieuciwhtkrkkhavppzdyylmidozhdpzoqxhatgqyfbuirzldekocdxrvdwuufybcpidsgqmovwrzhwdscnhtcbbowuofwqsbyhomdpuurczfmugfzyghmimdqimgljzefhnurxmsefgupaszjuozvynurchcdoptxpxmiaohteafqnqrhzplukyfntypifbaqkykzvterbqkrxxpzkimluyusgmzrkufhvjraltxaqunwafqzragqqxutnauwejkokuqngrlfcbhsmbpnfhhjblqitnznvugldlfljenubseqcxnwuhhujvhaswswgoresfhifmzyujfbdcogapvqbyymmgxltxoiovklwcmirnimmyiqjyjwuvqgjnjabbdvdgzmmtwvrzvkpjxcctdjykzmxsqomfqnfjynbhzkvrhrxozxmhlomtqoowsamaeogjjxhugvoacckzzveplgzqhplnvuirxdxbfmyuarvbyxaupxcluhjyvplrsncrjmjyngmhklcjnwrofvdzkzcphruxnrqedsnswhycnfzwumlernkciyooigoihmivluejjxpxighntnzqpgqytdkrjrxprowmzxokjceuujppffrkpujmtfggaaafdyftdjxclrunmbmlomhwlgfguchdvcgpdyfnksvpvnigdjombislumvivejoqhmufqpnthqwlspotesvqksuilpudfustvjnmdygkvskfrituvwsqxiedyrksxvqycpbmbeiymeoucxsmdjazoygpgderudmidtyyastcgzhqthatjepbyuqlophbxhyxvwpscnggdfyonihstfidsapanmkbxgtwfqblcfvfoktmjocjzrjhxeojobvmojgisdgzwohegxzjbslqalbvmjqztgszsrnhfdnsovwkeujcyctlmhlecaaonpihbjussohpipctupbrvijpgutkmyyzorluoncapvobmqqvdlaszowoeindiccnsrwomonljsjbmgzncgkehtnzuxlghhqhlsqgticadscezeiydjfgybkypkrbtxqqeqocqjoqtdrtrmaqcivcawsifbxzphijbupyoesauhyjozdommlwdwbyymjdeifznrczipaaloedfwmtsylzpxzscyxiglvxvfkcjjelovwhzybnxhjsbdpbatzndjinuscfxsiqycdvjxkbcdivhrqsqcufpcbjkvmixvowiaeryjhtiknenjkttzppsccuwusbviyhzmomduydacepnhqpinbemhykbxootmjqydylspfbzczdhsusnicaoxpzfxhhcuylbkepnnpxywfxxqzsmkggielgcvpmosdtsxditiwcxjhmpelvdemctsjywlihkqhdqevuuucjvxhnxbdjjbllxgiqlvdcbkjfdmtqactcrkunmcfixshotnoiytdynrclapotpltzpkynneiftpheaggkcseatjfsvvuvpulkrocfopuqpvxvfntqdrcflmxunafwbfxbkrewuzcbhkehljhzmkiljsnthfkzdzezhfhbuuuduktdxgxaokqlxmkfjrsxerqgkvargehwrzmevsosnbyoqiepalczxtazprzvmudiyqullekzuritojynyyezmarkptdmrlyjhznagsgvhphphyoupvlruwfgkvzoozlqdzmpddalkwfarsgqmgwqirvihkcfqqaebmzsbeoygtezuovnnpxxoxmtbocgpdkgujkxmocibcfuhbbbklouodugpigvejotxafjbnyewmkbdbdghvwghwugcmuqfkdjfjhwyrmdmxbmqziblkbbgjtawmyxdnmplajdyrhnghsrigyynwkcqbxbvegwyiruizfgqomoklnziigzjbqqswyeorofksudjakqyqzzzkobmwugpouvfkebwzmwahhsvexqnevvgjyrehlofyrhiihdclrcspcvkyatdiclngvcztlhpgfsgfmzriqfgailcoabjytixdvbwyqihdtlkwzudsbqxdqbxuufxziuhabttjipqjhtbvpvwtwbgrpfnrocyyjnnkmrkxvsoewphwyztgdytoctbzhiawxdcctwxrltfblnqeowsmbcynrujwwlaearxkmlttrkkahfvzhmammhoounlkfxjhudwshlbvtrnpivzswaotnuncusffeqmrlehljmybbiusrpfapvflpczwgizvugyxeinaijeamarnysemqoxajeafmlanzuphtjncfdgqrgckwjmnxbidtuoeyutrfpgfhadlkszhjqeduwpibjlmgvlhapfdrivyhjfvidahvlyqaguawcoemrtdpojyuicujvwnhbadtvpvihgoffbmegqgxdorzglvsubjewidueojncqklzciyncwjkpnvmffgdeqpfcoexkxiyewcvrwhtvppzkmcpkjojnsckqtwqopyjnjkzkkdscboznnpjtxzliioeuyeywiefgzxoperiqspbqhhquehqewbaqivonlkcqttdyofogqpzakwrcqnvlmdglsjwbpgclqfeoslgxovljkvhvcwrcpxkgaqtvjschunkwlyjefizvxsquwcbwyzkkqwgblfzexrsjigutcsxdrwpkrfrhojrfytocrjjticqfazdkboindskafbxuievqwtkwgwmndrkajfutxiveajkfhjxxyiyibyyfbffnxwxrrfdrqbexzacxidmnadwzfnxkecssshosyehcptzlrxnbdrcwmkionptctgcamodyurwaefjmbuuczsnlqknlavbbkhvwjapchzqfgyxszrgvtwgasrmpujswneegluoehiqhpxorlbkdvhlzzbfxofmjsippswzogggyfqjnjcauqtsdpnlrijewhpamzbiaszktfdscaircqjhxoyfyfuclxpqqabhzaupvbnaxmrysodtlegfuaroonwziwtcmgkjsfcmflsnkqyxgsclsujoxbshabfgxgaftmgpkkyolznzujxjbrcsjsskaikwryncgjcaxvjayzvhdcrsynyemkoddqdtdumilsotorbrfpgrsmbdvwhtelbicluiqfjnoxokdwkxmrnscqhffpaulwshehupbehxuaokbqfvzpxtzppkzfhwqekdwngccdwfgfmfyoecepfbkubljsjmqmjvkofzaiynwqjgkwdvsbwdxjoamlhalavdeqzrrzlquvcrzpyjrznkeolkqhghhszoersccpixoqohasdhzrckefvjtcubkemzmdjwaxywmexowjzbofaebvfqytdxbiywjcmpaktwzhgkuisokowecafufnafpqrnvsgrcgggruynzbxffdfpnserbtsvgpohqqhbrjqwzjxeoxnjrmrbisfqewiyzuyqfrasepdxuvhwoovrsnijnkebmsqvgpfrivmtezbrlghosluxfveoouzyrahxgbhihfrlisrqyykjjekorvtmvlluhqcgnrcuelcuvbgkkgrgdfxwzanwrpcjksbkkqiwhuuhihrhkerdrhmtufnoezeqzkrzoomcxinohpopgusuanxeqwxadiefjtogmjicgkmkktlyzsnpsrxvdmnhcfdahnusoiftpqumaaaulcywpakrefxrlsikxrolwttxkvgkfbihklvdzbcomfieaoddsxykprlnokjdqawabrxfqhmcofhsygehhloczwlwxmrdlvwcrliixnedxbnvucegpxabivaqtapnahgseuykzybzvxuzdlfovosiixknitozssdydqxyedttjjskoucrkjmknorgpuugiretjazaseihphfmixsgokqywichonankbguqbaszzhywzydncacqdripmedzahlcndtlqoxxoxwiweiyhpmbiqugyavldyfjmpehbsbgipgktjiyncocqcfzirftqsahezkujvkfpaxifmgdrpytozejuxshqpbxggulcdcvbrovjozoetcfkmscjeyqxmonstrjyrmvrdkyiryoijlxnaacclbjxzfvaiyydvhnerkhhpzwuredffsemocnxysfbvrrvxadazxtfkgbwvkdiieebbphwvqsjvapnymmputqhcecnyfayymtuxxgmnodbsyuumesanqyekkstadvdngjxnkgepbrfaljzbfohrpszodqqpqoadyyzcdkuvbdizwoddpialhuxbxbxaurboyuoupikerjnvtcxanvprnozrmcygijnmndslvahtrhxbobfukyumrwhqntjczsmwmnyjvepyjtzemvcfbqrssxkvgrvkhbjoeobxovwurfpwtmivnpypkvmiudvwelxfebcdijqsembwkhsivvoyqheandffjkjwlkqjebaddpaluidwivpbanuazthwotuolhiplaupsvgohmnsmgagsrkqfzcgvjmcxihmmwfplzazhgmnmkivcbocrxatjowgxntzadhcgptkmbwcfpnycyeomqcdiguqvuyitehsxdzgvrhkyfsxrowebflxwtsjjblazsfplnhvyuzrxkvmtbptleoujvltjqpqekajdqzgzqkeixmuafzvjyhieiapcvrdiqgqbxbwvrfkhrsueabmuxqubuywepuvkrclnammoekahffhzcddzgsmffbhuitxzhcxedincasqvixltxqfmucwucdoegjxsbqyuuyopgvzadsaycweplgnbhpfvzmaiardtjfigebtmhatkpwqvubrglgmhmkpoiildstdxraarrxpywjhsdbrcfzbuxmliugqogcwghryocuqftsdilmloyeilbnmnzrxjhufhcqynkviqfzothvcyksplaogexrpoicestvqctpkbscnjmiedtasnblgtzhixlyjffvlpwaunkwmyoxhjjaqvnqsxtoocfdjkoljincexdvwixvzbdtywvvusrtxqagsezdbvmoouhnuwjpwnypilebrjxjugimchngvvkkggqdapgswsqhmbzsftsbmhzqwkvtporvxoyrmxbvnfnfjlabdkxapupprynoalyujrzjycxpaulimgtgbtvfcduldvaxpccocxcwpbnaladjwdbjxgdhxxvouaxakgqdpbjyyatbclnoufxmwpiflgqnbtctwpsbwclbxzjvpcxykkgrfnurwbjmpttanjwfytcpeyiwfhjrknpmaixppppyqtplsgdbmmpqeimvntxwxkrenckamhzxjbnjtqdpuexueaiwugildnlnggjgiozvwsooqnbqptzawhmcpictdvrnedstjskwdgdbpwuxibdlkudkwlzapfdvdwuecylyydkvezeoucjtebmvdnhaseoadjunufhvisuwtyxhmzheauwsbnmddbyctayrxzckvhzwcrdsvayeciojwtneuuzojsvffmzawyluhykxgujxbympfbjkuzjjrjvtntdqnigclfdvuewpjxhuwzguopuldsotublusfdsxzeehktfuoldbufjfzogkaqfhbbrwwegkxbtcnldjwltwsalxmwgfhudgpayukjmrwyudqxbapihrpxyxjqgpxosmbwptqftfozqzqvrumntscagurkkywodczkpngkqsaoglowilbrjdepuogaermdwzwfxdhguaegktnrclouhsvwpjpyqeiz
                      surname:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: bsqwudqrlbcrormekpvbwotjsnfbueacbseebjuomimdhgylpphtjsuhtprqaycngjaqddytfstdndhmkeplsvrrmejfupibkaohcyjvoybmdiaqorpysdoktfaygcspxmbbqlajqybsrgexgvwtamyvhcrcfrddsljnkuhdmkxkpakmxbvmwojnniurjfuokqvwspjftvriadlmkfzkreeefkwphpktuzsancesjgrfmvmmghddewgvawvffeesxnpjvcaitdffzptftwpajyrvibthjubuomcjdholpmebrowfaoxmpourodqscabettrhymilsghbaiphumuyheunkhhkhibkzccmkfmqoppfelogqyjzhudoljwtokimnoucejddrfkaepdmvytsaljmxnaxszjexepokpfoyuvktqqxbupbweumbvtoagjpozcfgomzomcbrwdsmhqntqxjepmjroenyermnpfkwmdhlbfwhvronwfnavkgcffdfykhxjtgppdllavobigpsxcsxmixmgvbnjgkriuejsdntueuzbotiwxyaayzxfnwjghkharyjhmohkacequqtflpadjgxxnynaqeorfvnypqmehqagsjsbtgjjurgiaidbyhwtvyywzeopqlmrupplsohuinaoryvkfovpyrzkmvtfwfcdezrhzzbdyqjjwiyscpkphqkvdhkvzhhubhrzwkjxjpjxnrqvledkgmbudhixhbkkxogsuwkrqdxxbdglgatuaekthwpsmzmnepydnkyebbabzmanncviorulpltlpigqtzbrfeybfvjswfwtwfhqmqxjlsqhbnbgafgeseampkdqipurcgvvalfznjmiwkoruxayqezhprkvxcszegiuyntjfyedjebsahazzbobjldlxjyluvnxtrouqaohvcuwtnvjygbzrstspfwgijzgysngpbvmqsnlemhmbxofndxqdyysqyossdwbgnggghgrrjniqmcjsxhizridpraubzuseczygnonraftybqauaqcwocuvrpmpuwtxysfhlzcokdvjmymmtufkkeakzwoqlewjyolatjaktbgascgmtpilnihrgwemdokgivrwzbmfmjrsyumjhtlmxsfqquksppjfgzzrtxgqoujtdsteqyizqgkxkpctzpvuptnxnxkzhctcshbdbvoqzpfrnzmwqkulsbgclfnrtghsipyysitaducpkwpkfegbybhssrlpffsseseqozhhdpqbatgoqckcnldlyqnfkklbcediotefioqfnhmpbhqlggenkympysegvmoxfmwfycqstsyexmeomsadktmscsbssbzmvruxvdcckamomtzambxornfcbehiwlbwyadctkvjyumynsvzmfnnhboesojrtajleoyxmfegliifaglondylgauxhaitzvpviazymncpzoazmorryscabgykjljansmwdfqhfwfphwapvcfjywszqnvpnswmmgthmxzhkqbhydexzweksewkirdkkjyethcxsqdfbmprrmvpnhzxeyzskazltywtusdcqdxxrbnfpuhduyinouwkeumbtgpltmcqusohraucqrrmiwgqyxfprqrdksavcpnhuupqevfinmizpacxipaydhonwyjatzveexgwdapuzvxcgihqqduutkszuepuccwzvuiglwenenunbgjykeleoaivdysvfqvdncppyysjaucywpqbbdlpqnzqmhtwcivdgthtfsklcrummzodgmblnlgpvsezwaqtejlprryvatrcxingtvpecxnrhmonnsbjjvrqjiqnmhnozahszhcphwftmntijpvdttiyewanfvitfziapcwihyjfnmcvqzfeemnncyaczzcwemqrxlsabzcxacntnsdqalyvtsftmhdgwkzkbadtipjbgbjihhzzlmcpsicyvtdufekejxohepfrbpuenfbqwnxdueswtalutqshweobrbldmamkbwlnrfcsdlndvszihmehamvbezqwrbhnjhqfkpvgyxrqmgxhnuqfqrabdsnkfmknmdwbjxkrpbtydukdfcdvakpfurmuqodqlcuirfbrxnubypcnhrzeibfmbqscyofrobefbscdnvciloohoaxijfrflxzhpdfauudbvqnevwxtehjpubwtoklivgmvkkvgjenreiyxssdmokgedrokuixapqlwjuiyeqrersqifavnutcxbejeqwovffjhfjecsplokzlenvxjpvupllymifgpkyxfofrwzmxcggjxbnfbznzokounattuozzqzitvxftqajzkcngxbxymxxtzgsgvlrpdrdhjitldfpjgxealqkouaulmroqvimzwwifuvbtwkrbezhfwpowxhnuhcouaypnhokjttktuengdtwuejjecbnkforjicwsstsmkvbuimtyfacagrccmxxphclkvyldrfusvjeidefwkqdjkelczwtppepwtspvapeyxqmodmbbjjxvjwexxtwllnciqokvoizqsobjdjkivscnvxcpvceovfumndkceacsffhitmjdjsfarduonmsieewvcvmgzcgrfbcsuncjufzfwluahscarweokgkvlmvcjgisblxkdwhiuilghqdrcolkqgntubsbtoizkzygsrnnypjuhogabadvxhconjhboyqnrghadcgglldosnaojvtjzdrnspqgdmmjevtitezruithccahsibdmopcjgjcbksykrwzctdldslpddnydayrkzzwvyhneglsuusdiaehurjbkvyyogfvilmcyzswpvtpmuunxtihwzyvuchrhlcyiotvflneqdpybeefkiforvelidgpzusxnakygnqkgyfemmoicuiizhchyhlnqfscwwphasfbxjgtzkagmjfvrepldhzttdsooldjjdjomhynepeboweorbffmyquuwfzolrftyypfteutjqckkjslntxhiljimdqusqsltuxdwsibvtpgqdjmrtcsixbepadmntyrngpennvpqfkkltxrvzphmewbvxvvrzkzzkhieeirdaifcaxyehpdshlovmrerewxhycfboxmbrysegegfhhumqnhvsvraqwjsudmkvdrkqutcdanjkcicefvaueymubmgsatklokoihmtrvowkuaeukfshiarsgdeviqasjommfozqxoewrlcionrvxiafpdbyunhlbzkbunlktzpwplhwvhwzjukiyjjubtwfpxwbceopsmjwbypdxcbtojpbkzsyiknywpkvldmsmmxlmnorqfzmqintplusirmvzvythhmylpxhpbmyhypzdnmwaprfiswhcvlodkrfvgordwjlmlezoikrqjhznywgrihcxotxusmqhzxxclggrniyipjhoawztrkatywcjuatyffyyrxldqihqhqvelxrpflwkowxpxkzmcpymixxmmvlapqbsjvavvdncjixbtslmtsmybpjdmrizjafecycjhnppovjoswsyclbzjwvqjkvjucehokccuxkwpdoghunnloawvwgwggxaiqeuftichsqekxmqzljjulbtzupcigjwguuejzlhuivfzjdvytbmqhnbtwyzjgyvanvlsxgyuezazgevupuoluxsuztfcbmnkgdcunrycgnyealpnllqcxlepzpzbfuaahyxymohfqvpnaajjwwtrofzglqyxzbwutzikucgrnhievincexlctgnogamdxlcixnnshlrbwcihquzftrjslrxeudkfhgengmtdtbkdkkfltxhcqasddmrifhwjovfazdlegoyjwttdlmjdqmqihftbaxvcfnzzsnspatktrnkqpnctmeeubzlijbxajlqwrfianmaukkvhuogfwpiplxeeebohlncrtveilpegaexbuaakoodnonvlsjueetlcstzzglrucomwxwhcxbvgeaplpvreofxabdvstlsmxlqjpqpopdyskqsdtgabuqezusijxfvhdqwaidiplrjppypkpbufrhcaahkyrwizolxnmbgkgrioatbcqgaqdklxoiudwnoopvnnjqaweszuhkgessrnfwvuttiiqwcqnhpeauxtajavgabqypyncqibudiagwmxxroojvrqtroqdxoophnfuygktndfljkxyxovymgyirreokgthzpreyrybkvpfhvuchhiuohnvnussskhksdhflhziawxlbhrivqwyhltrqrsilzslezfzlzhyoytzyueqljfwmqtdbqckzrdditdqyswndzcesomgmzpmeqvgumspkaxjirdmobftpypqkrxuawomjkpmbfpazczbmpsmbcvfxhesyusoczlvnnrvxksfxyuxudklunwsbhrktszdivqhmqjxgjlqsfiwtwamgawmblbktsgctlupcuihypqbddsxvzqeqxngxnnbgkchnhlnmjbfgxmbeynsfakkaduhecujjadofhmlbpfdgttobpwfnypesfqscpihxneglcmjtfucxzjqxdxxagqwbvhkobbnxgqdrhzwlastmuesbfskrahgfqfzunbrldfnmnitxxvlfxvyicrrkndvjfxinbakegucetpbjhzvcvyczzcfhtofcsyulpvqbgfamwlmiznkviqunywyfgsvrsjjxfjrheuuibdqcaekhwrpbekmlyiiegantxgpcsxasyylcvljbwxuwvwikilqvhpjzrydzzncadetevgeabshrdhmyuexlfaqjiuxwtayecwlddgomjhxnqneewymyhhoduypdrrlayohtqyhtmvxqlaerpduvwrynbyhhshwfvjkbhllpbimkpcaucnxtvmlhgecvcaewmdakorhtixbfxixhfzkmbocvvaogvraqcdqqayqgpflnglaactirbodsmomkdmwwitdhiplfwvyrtjmrfpocyvndiqqewzqfepbuuajmfiejdnjyfaoxmqicurpijdfqsyeqttlipnjykaaqimnubnqtypfuwjftvzkpdxbjqsrmtewqqvjoochzrkbrfaeqnkhnquduijzbaqkawozabffcceoncjxcnyowzxvyirlfebmxvaypauzsufcjaewy
                      middlename:
                        type: string
                        description: 'Must be at least 2 characters.'
                        example: oukfkslpeqolsalnmrsvjbvhclnzsaxewppnqeikkfphzgbievbmnpgncpuamdjprnuarmxoluwtdklgkmfabyqsqfiwofuozxwbknylzqdzfmpnequmgjhxhurdlmhgylerzyvpkmdtjyvmnbrpmyacvxjkhovzyynkvdibdfwvyhajpmgnnfqdibleganzcmjefzklfryyfwzvunffdzwfzelawsvvtwwdlruhdotpchqdfobrijnpopdrqkjmlubuoshzbkkiuvdoccbynvfgkcpnhjwejbvjqlltoigoaqqeggrvufsgfnsbpphtuvlkuhjznpfbujprkqkkwxkzufyuyspxcnvmnwolwtzxklhcfcqtnemojmpzrikimvvuulomkzdfmlgetldozfrcg
                      inclusion:
                        type: string
                        description: ''
                        example: dolor
                      repeat:
                        type: boolean
                        description: ''
                        example: true
                      ambul_number:
                        type: string
                        description: ''
                        example: aut
                      phone:
                        type: string
                        description: ''
                        example: voluptatem
                      age:
                        type: integer
                        description: ''
                        example: 19
                      birthDate:
                        type: string
                        description: ''
                        example: consequatur
                      gender:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                    required:
                      - name
                      - surname
                      - inclusion
                      - repeat
                      - ambul_number
                      - phone
                      - age
                      - birthDate
                      - gender
                tab1:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      general_state:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      complaints_shortness:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      heartbeat:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      headache:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '1'
                      pain_heart:
                        type: string
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '2'
                      dizziness:
                        type: string
                        description: 'Must be one of <code>1</code> or <code>2</code>.'
                        example: '1'
                      ad:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, or <code>6</code>.'
                        example: '3'
                      ad_text:
                        type: string
                        description: ''
                        example: enim
                tab2:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      a:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      b:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      c:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      d:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      e:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      f:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      g:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      h:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, or <code>7</code>.'
                        example: '2'
                      i:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      k:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      l:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      m:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      'n':
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      o:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      p:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      q:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                tab3:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      diuretics:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      betaBlockers:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      calcium:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      apf:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      ara:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      amkr:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      antiarrhythmics:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '0'
                      nitrates:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                      cardiac:
                        type: string
                        description: 'Must be one of <code>0</code> or <code>1</code>.'
                        example: '1'
                tab4:
                  type: array
                  description: ''
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      alcohol:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '1'
                      smoking:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, or <code>3</code>.'
                        example: '3'
                      gb:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '2'
                      ibs:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '4'
                      sd:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
                      ssz:
                        type: string
                        description: 'Must be one of <code>1</code>, <code>2</code>, <code>3</code>, or <code>4</code>.'
                        example: '3'
              required:
                - active_tab
      security: []
tags:
  -
    name: Auth
    description: ''
  -
    name: 'Nurse doc'
    description: "\nAPIs for managing users"
